= fields_for "staff[external_courses_attributes][0]", @external_course do |fields|
  = hidden_field_tag 'staff_id', @staff.id
  = hidden_field_tag 'id', @staff.id
  = hidden_field_tag 'staff[external_courses_attributes][0][staff_id]', @staff.id

  = fields.hidden_field :id

  %div{:id => "field_staff_external_courses_0_title", :class => 'field'}
    = fields.label :title, 'Nombre'
    = fields.text_field :title

  %div{:id => "field_staff_external_courses_0_location", :class => 'field'}
    = fields.label :location, 'Lugar'
    = fields.text_field :location

  %div{:id => "field_staff_external_courses_0_institution_id", :class => 'field'}
    = fields.label :institution_id, 'Institución'
    = fields.collection_select :institution_id, Institution.order(:name), :id, :name, options = {:prompt => "Selecciona una institución"}

  %div{:id => "field_staff_external_courses_0_start_date", :class => 'field'}
    = fields.label :start_date, 'Inicio'
    = fields.datetime_select :start_date

  %div{:id => "field_staff_external_courses_0_end_date", :class => 'field'}
    = fields.label :end_date, 'Fin'
    = fields.datetime_select :end_date

  %div{:id => "field_staff_external_courses_0_hours", :class => 'field'}
    = fields.label :hours, 'Horas'
    = fields.text_field :hours

  %div{:id => "field_staff_external_courses_0_participants", :class => 'field'}
    = fields.label :participants, 'Núm. participantes'
    = fields.text_field :participants

  %div{:id => "field_staff_external_courses_0_information", :class => 'field'}
    = fields.label :information, 'Información'
    = fields.text_area :information

  %div{:id => "field_staff_external_courses_0_type", :class => 'field'}
    = fields.label :course_type, 'Tipo'
    = fields.select :course_type, [['Curso Externo', ExternalCourse::EXTERNAL_COURSE],['Taller', ExternalCourse::WORKSHOP]]

  #dialog-submit-button-area
    = fields.submit "Actualizar curso"
