= form_for(@staff, :url => { :action => "create_lab_practice" }) do |f|
  = hidden_field_tag 'staff_id', @staff.id
  = hidden_field_tag 'staff[lab_practices_attributes][0][staff_id]', @staff.id
  = fields_for "staff[lab_practices_attributes][0]" do |fields|
    #lab-practice-new
      %h3 Nueva práctica de laboratorio

      %div{:id => "field_staff_lab_practices_0_title", :class => 'field'}
        = fields.label :title, 'Nombre'
        = fields.text_field :title

      %div{:id => "field_staff_lab_practices_0_laboratory_id", :class => 'field'}
        = fields.label :laboratorio_id, 'Laboratorio'
        = fields.collection_select :laboratory_id, Laboratory.order(:name), :id, :name, options = {:prompt => "Selecciona un laboratorio"}

      %div{:id => "field_staff_lab_practices_0_location", :class => 'field'}
        = fields.label :location, 'Lugar/Equipo'
        = fields.text_field :location

      %div{:id => "field_staff_lab_practices_0_institution_id", :class => 'field'}
        = fields.label :institution_id, 'Institución'
        = fields.collection_select :institution_id, Institution.order(:name), :id, :name, options = {:prompt => "Selecciona una institución"}

      %div{:id => "field_staff_lab_practices_0_start_date", :class => 'field'}
        = fields.label :start_date, 'Inicio'
        = fields.datetime_select :start_date
  
      %div{:id => "field_staff_lab_practices_0_end_date", :class => 'field'}
        = fields.label :end_date, 'Fin'
        = fields.datetime_select :end_date

      %div{:id => "field_staff_lab_practices_0_hours", :class => 'field'}
        = fields.label :hours, 'Horas'
        = fields.text_field :hours

      %div{:id => "field_staff_lab_practices_0_participants", :class => 'field'}
        = fields.label :participants, 'Núm. participantes'
        = fields.text_field :participants

      %div{:id => "field_staff_lab_practices_0_information", :class => 'field'}
        = fields.label :information, 'Información'
        = fields.text_area :information

      #dialog-submit-button-area
        = fields.submit "Crear nueva práctica"
