= form_for @staff, :remote => true, :html => {:'data-type' => 'html', :id => 'item-edit-form'} do |f|
  = hidden_field :staff, :id

  :javascript
    $(function() {
      $('#resource-tabs').tabs();
      $("#change-img-dialog").remove();
      $('#content-panel').append('<div title="Cambiar fotografía" id="change-img-dialog"><iframe width="430" height="450" src="/docentes/#{@staff.id}/cambiar_foto" scrolling="no"></iframe></div>');
      $("#change-img-dialog").dialog({ autoOpen: false, width: 470, height: 550, modal:true });
      $("#a-change-image").live("click", function() {
        $("#change-img-dialog").dialog('open');
      });
    });


  .resource-header
    .resource-picture
      = image_tag @staff.image_url(:medium).to_s, :id => "img-medium-#{@staff.id}"
      %br
      = link_to 'Cambiar foto', '#', :id=>'a-change-image'
    .resource-title
      %h1= "#{@staff.first_name} #{@staff.last_name}"
      .comment= @staff.institution.name
      .comment= "ID: #{@staff.id}"
      .resource-card
        = link_to 'Credencial', "/docentes/#{@staff.id}/credencial.pdf", :id=>'a-id-card'
    .resource-save
      - if can? :create || :update, @staff
        = f.submit 'Actualizar'

  #resource-tabs
    %ul
      %li.first-tab= link_to "Detalles", "#detalles"
      %li= link_to "Contacto", "#contacto"
      %li= link_to "Estudiantes", "#estudiantes"
      %li= link_to "Seminarios", "#seminarios"
      %li= link_to "Cursos / Talleres", "#cursos"
      %li= link_to "Practicas de Laboratorio", "#practicas"
      %li= link_to "Notas", "#notas"
      %li= link_to "Horario", "#horario"
      %li= link_to "Archivos", "#archivos"
      %li= link_to "Constancias", "#constancias"

    #detalles
      %h2 Detalles
      .field#field_staff_title
        = f.label :title, 'Título'
        = f.text_field :title

      .field#field_staff_first_name
        = f.label :first_name, mark_required(@staff, :first_name) + 'Nombre'
        = f.text_field :first_name

      .field#field_staff_last_name
        = f.label :last_name, mark_required(@staff, :last_name) + 'Apellidos'
        = f.text_field :last_name

      .field#field_staff_email
        = f.label :email, 'Correo Electrónico'
        = f.email_field :email

      .field#field_internship_area_id
        = f.label :area_id, 'Area'
        = f.collection_select :area_id, @areas, :id, :name, options = {:prompt => "Selecciona el area"}

      - if @staff.institution_id.to_i != 1
        .field#field_staff_institution_id
          = f.label :institution_id, 'Institucion'
          = f.collection_select :institution_id, @institutions, :id, :name, options = {:prompt => "Selecciona la institucion"}
      - else
        .field#field_staff_last_name
          = f.label :employee_number, 'Número de Empleado'
          = f.text_field :employee_number


      .field#field_staff_gender
        = f.label :gender, 'Sexo'
        = f.select :gender,  [['Hombre', 'H'], ['Mujer', 'F']]

      .field#field_staff_date_of_birth
        = f.label :date_of_birth, 'Fecha de nacimiento'
        = f.date_select :date_of_birth, :start_year => DateTime.now.year - 80

      .field#field_staff_sni
        = f.label :sni, 'SNI'
        = f.select :sni,  [['I', 'I'], ['II', 'II'], ['III', 'III'], ['IV', 'IV'], ['Candidato', 'CANDIDATO'], ['Ninguno', 'NINGUNO']]
      .field#field_staff_cvu
        = f.label :cvu, 'CVU'
        = f.text_field :cvu

      .field#field_staff_status
        = f.label :status, 'Estado'
        = f.select :status,  Staff::STATUS.invert.sort {|a,b| a[1] <=> b[1] }

      .field#field_staff_type
        = f.label :staff_type, 'Tipo de docente'
        = f.select :staff_type,  [['CIMAV', Staff::CIMAV_STAFF], ['Externo', Staff::EXTERNAL], ['Postdoctorado', Staff::POSTDOC]], prompt:'--Selecciona un tipo--'

    #estudiantes
      = render :partial => 'students', :locals => {:staff => @staff, :f => f}

    #seminarios
      = render :partial => 'seminars', :locals => {:staff => @staff, :f => f}

    #cursos
      = render :partial => 'external_courses', :locals => {:staff => @staff, :f => f}

    #practicas
      = render :partial => 'lab_practices', :locals => {:staff => @staff, :f => f}

    #contacto
      %h2 Contacto
      = f.fields_for :contact do |contact_fields|
        = render :partial => 'shared/contact', :locals => {:table => 'staff', :fields => contact_fields, :countries => @countries, :states => @states}

    #notas
      %h2 Notas
      = f.text_area :notes

    #horario
      = render :partial => 'schedule', :locals => {:staff => @staff}

    #archivos
      %h2 Archivos
      %iframe{"name" => "submit_iframe", "id" => "files_iframe", "width" => "100%", "height" => "250", "src" => "/docentes/#{@staff.id}/archivos", "scrolling" => "yes", "onLoad" => "calcFrameHeight(this.id);" }

    #constancias
      %h2 Constancias
      %div{:id => "aux-page", :style => "display:none;",:align=>"center"}
        %table{:style=>"border: 1px border black;"}
          %tbody
            %tr
              %td{:align=>"left"}
                = "Fecha Inicio: "
              %td
                %input{:type=>'text',:id=>'aux_start_date',:readonly=>true} 
            %tr
              %td{:colspan=>2}= "&nbsp;".html_safe
            %tr
              %td{:align=>"left"}
                = "Fecha Fin"
              %td
                %input{:type=>'text',:id=>'aux_end_date',:readonly=>true}     
            %tr
              %td{:colspan=>2}= "&nbsp;".html_safe
            %tr
              %td{:colspan=>2}= "*Dejar en blanco para traer todos los registros existentes"
            %tr
              %td{:colspan=>2}= "&nbsp;".html_safe
            %tr
              %td{:colspan=>2,:align=>"center"}
                = button_tag "Imprimir", :id=>"button_mine", :name=>"button_mine", :class=>"my_class", :type=>"button"
                = button_tag "Cerrar", :id=>"button_close_mine", :name=>"button_close_mine", :class=>"my_class", :type=>"button"

      .field_requested_document#field_requested_document_0{:style=>"width:600px; height:40px;"}
        = label_tag 'Constancia como director de tesis' 
        = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"dir_tesis",:staff_id=>@staff.id

      .radioDiv
        - dir = t(:directory)
        - checked = false
        %br
        %b= "Firmantes:" 
        %br
        %br
          = radio_button_tag "firma", 1,checked, class: "radio-button-sign"
          = "#{dir[:academic_director][:title]} #{dir[:academic_director][:name]}"
          = "(#{dir[:academic_director][:job]})"
        %br
          - if current_user.campus_id.to_i.eql? 0
            - checked = true
          - if !(dir[:posgrado_chief].nil?)
            = radio_button_tag "firma", 2, checked, class: "radio-button-sign"
            - checked = false
            = "#{dir[:posgrado_chief][:title]} #{dir[:posgrado_chief][:name]}"
            = "(#{dir[:posgrado_chief][:job]})"
        - if (current_user.campus_id == 1 || current_user.campus_id==0)
          %br
            - if current_user.campus_id.to_i.eql? 1
              - checked = false
            = radio_button_tag "firma", 3, checked, class: "radio-button-sign"
            - checked = false
            = "#{dir[:scholar_control][:title]} #{dir[:scholar_control][:name]}"
            = "(#{dir[:scholar_control][:job]})"
        - if (current_user.campus_id == 2 || current_user.campus_id==0)
          %br
            - if current_user.campus_id.to_i.eql? 2
              - checked = false
            = radio_button_tag "firma", 4, checked, class: "radio-button-sign"
            - checked = false
            = "#{dir[:academic_coordinator_monterrey][:title]} #{dir[:academic_coordinator_monterrey][:name]}"
            = "(#{dir[:academic_coordinator_monterrey][:job]})"
        - if (current_user.campus_id == 4 || current_user.campus_id==0)
          %br
            - if current_user.campus_id.to_i.eql? 4
              - checked = false
            = radio_button_tag "firma", 5, checked, class: "radio-button-sign"
            - checked = false
            = "#{dir[:academic_coordinator_durango][:title]} #{dir[:academic_coordinator_durango][:name]}"
            = "(#{dir[:academic_coordinator_durango][:job]})"

        %br
          %b Lugar de impresión:
          %br
          %br
          = select_tag 'city', options_for_select(["Chihuahua, Chih.","Apodaca, N.L.", "Durango, Dgo."])        

-# %div{:id => "aux-page", :style => "display:none;"}


:javascript
  $( "#aux_start_date" ).datepicker(config);
  $( "#aux_end_date" ).datepicker(config);
  console.log("CONFIG AUX DATES");

  $('.reqdoc_button').click(function(){
    c_type = $(this).attr("c_type");
    sid    = $(this).attr("staff_id");
    siid  = $("input[name='firma']:checked").val();
    city = $("#city").val();
      
    $("#aux-page").show("slow");
    return false;
  });

  $("#button_mine").live("click",function(){
    start_date  = $('#aux_start_date').val();
    end_date    = $('#aux_end_date').val();

    if(start_date.length==0){
      if(end_date.length>0){
        alert("Tienes que llenar ambas fechas");
        return false;
      }
    }

    if(end_date.length==0){
      if(start_date.length>0){
        alert("Tienes que llenar ambas fechas");
        return false;
      }
    }


    href = "docentes/constancias/"+c_type+"/"+sid+"/"+siid+"?city="+
    city+"&start_date="+start_date+"&end_date="+end_date;  
    window.location.href=href

    close_me();
  });

  $("#button_close_mine").live("click",function(){
    close_me();
  });

  function close_me(){
    $('#aux_start_date').val("");
    $('#aux_end_date').val("");
    $("#aux-page").hide("slow");
  }

