%br
%br
%br
%br
%br
%font{:face=>"Verdaba, sans-serif"}
  %p.western{:align=>"left"}
    %b="A quien corresponda"
    %br
    %b="Presente.-"
  %br
  %br
  %div{:style=>"text-align: justify;"}
    %p.western
      = "Por medio de la presente tengo el agrado de extender la constancia a "
      %b=@asesor
      = " de "
      %b=@institution
      = " quien fungio como sinodal externo del examen de Grado presentado el día de hoy, por #{@genero2} alumn#{@genero}"
      %b="#{@nombre},"
      ="de matrícula"
      %b=@matricula
      = "de nuestro programa de "
      %b="#{@programa},"
      = "con la tesis titulada: "
      %b="\"#{@thesis_title}\"."
    %br
    %br
    %p.western 
      = "Se extiende la presente constancia en la ciudad de Chihuahua, Chihuahua el dia #{@days} del mes de #{@month} de #{@year}, para los fines legales a que haya lugar."
  %p.western
    %br
    %br
  %div{:style=>"border:none;  width: 100%; text-align: center; font-family: Arial, sans-serif; font-size: 18pt; so-language: es-ES;"}
    %b="A t e n t a m e n t e"
    %br
    %br
    %br
    %b=@firma
    %br
    %b=@puesto
