%br
%br
%br
%br
%br
%font{:face=>"Verdana, sans-serif"}
  %p.western{:align=>"left"}
    %b="A quien corresponda"
    %br
    %b="Presente.-"
  %br
  %br
  %div{:style=>"text-align: justify;"}
    %p.western
      = "#{@sgenero2.camelcase} suscrit#{@sgenero}"
      %b="#{@firma},"
      = "#{@puesto} del Centro de Investigación en Materiales Avanzados, S.C., Centro Público de Investigación con clave de Institución 080068 y con programas registrados ante la Dirección General de Profesiones de la Secretaría de Educación Pública, hace constar que #{@genero2} alumn#{@genero}"
      %b=@nombre
      = ", de matrícula "
      %b=@matricula
      = " se encuentra inscrit#{@genero} como alumno regular, en nuestro programa "
      %b="#{@programa},"
      - if @op_asesor.eql? 1
        = "en este centro de investigación, bajo la supervisión académica de "
        - s = Staff.find(@student.supervisor).full_name rescue ""
        %b="#{s}."
      - else
        = "en este centro de investigación. "
    %br
    %br
    %br
    %p.western
      = "Se extiende la presente constancia a petición del interesado para los fines legales a que haya lugar."
  %p.western
    %br
    %br
    %img{:src=>"#{@rails_root}/public#{@student_image_uri}", :alt=>"X", :align=>'left', :hspace=>'12', :border=>'0', :width=>'300px'}
    %br
  %div{:style=>"border:none;  width: 50%; text-align: center; position: absolute; left:440px; font-family: Arial, sans-serif; font-size: 18pt; so-language: es-ES;"}
    %b="A t e n t a m e n t e"
    %br
    %br
    %br
    %b=@firma
    %br
    %b=@puesto
