%br
%br
%br
%br
%br
%font{:face=>"Verdana, sans-serif"}
  %p.western{:align=>"left"}
    %b="A quien corresponda"
    %br
    %b="Presente.-"
  %br
  %br
  %div{:style=>"text-align: justify;"}
    %p.western
      = "#{@sgenero2.camelcase} suscrit#{@sgenero}"
      %b="#{@firma},"
      = "#{@puesto} del Centro de Investigación en Materiales Avanzados, S.C., hace constar que "
      %b=@nombre
      = " de matrícula "
      %b=@matricula
      = " está inscrit#{@genero} como alumn#{@genero} regular en nuestro programa "
      %b="#{@programa},"
      - if @op_asesor.eql? 1
        = "en este centro de investigación, bajo la supervisión académica de "
        - s = Staff.find(@student.supervisor).full_name rescue ""
        %b="#{s}."
      - else
        = "en este centro de investigación. "
    %br
    %br
    %br
    %p.western
      = "Se extiende la presente constancia a petición del interesado para los fines legales a que haya lugar."
  %p.western
    %br
    %br
    %br
  %div{:style=>"border:none;  width: 100%; text-align: center; font-family: Arial, sans-serif; font-size: 18pt; so-language: es-ES;"}
    %b="A t e n t a m e n t e"
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %b=@firma
    %br
    %b=@puesto
