= form_for @studies_plan_area, :remote => true, :html => {:'data-type' => 'html', :id => 'item-edit-form'} do |f|
  = hidden_field :studies_plan_area, :id
 
  .resource-header.student-header
    .resource-picture
    .resource-title
      %h1
        = "#{@studies_plan_area.name}"

    .resource-save
      - if can? :update, @studies_plan_area
        = f.submit 'Actualizar'
  

  #resource-tabs
    %ul
      %li.first-tab= link_to "Detalles", "#detalles"
    
    .field#field_studies_plan_area_name
      = f.label :name, 'Nombre del area'
      = f.text_field :name
    
    .field#not_field_area_program
      - @my_prog_id = @studies_plan_area.studies_plan.program_id
      = label_tag "Programa"
      = select_tag "program_field", options_from_collection_for_select(Program.all,"id","name",@my_prog_id), options = {:prompt => "Selecciona un programa"}
   
    .field#field_area_area_type
      = f.label :studies_plan_id, 'Plan de estudios'
      = f.select :studies_plan_id, options_for_select(@studies_plans.map{|sp|[sp.name,sp.id,{'program_id'=>sp.program_id,'style'=>'display: hide;'}] },@studies_plan_area.studies_plan_id),options = {:prompt => "Selecciona el plan de estudios"}

:javascript
  $(document).ready(function(){
    $("#studies_plan_area_studies_plan_id option[value!='']").hide();
    $("#studies_plan_area_studies_plan_id option[program_id=#{@my_prog_id}]").show();
    $("#field_area_area_type").show();
  });

