#classroom-schedule-header
  #classroom-schedule-title
    %h2 Horario
  %center
    %table{:width=>"800px"}
      %tbody
        %tr
          %td{:align=>"right"}
            = hidden_field_tag :classroom_id, classroom.id
            = "Fecha de inicio:"
          %td
            %div{:id => "field_classroom_schedule_start_date", :class => 'field'}
              = date_select :start_date, :start_year => 1994
          %td{:align=>"right"}
            = "Fecha final:"
          %td
            %div{:id => "field_classroom_schedule_end_date", :class => 'field'}
              = date_select :end_date, :start_year => 1994
          %td
            =link_to '  Buscar','#', :id=>'search-classroom-schedule'
            =# %button{:id=>'search-classroom-schedule'}
            =# "Buscar"

#classroom-schedule-area
