%br= link_to 'Constancia de estudios', "estudiantes/constancias/estudios/#{@student.id}"
%br= link_to 'Constancia de inscripción', "estudiantes/constancias/inscripcion/#{@student.id}"
%br= link_to 'Constancia para VISA', "estudiantes/constancias/visa/#{@student.id}"
%br= link_to 'Constancia de promedio general', "estudiantes/constancias/promedio/#{@student.id}"
%br= link_to 'Constancia de promedio semestral', "estudiantes/constancias/semestral/#{@student.id}"
%br= link_to 'Constancia para el tramite de seguro', "estudiantes/constancias/seguro/#{@student.id}"
%br= link_to 'Constancia de créditos cubiertos', "estudiantes/constancias/creditos/#{@student.id}"

