- if @student.program.level.to_i.eql? 3 #propedeutico
  - @need_supervisor= 0
  - @have_supervisor= 0
  - @disabled       = true
  - @checked        = false
- else 
  - @need_supervisor = 1
  - @disabled        = false
  - @checked         = true
  - if @student.supervisor.nil?
    - @have_supervisor = 0
  - else 
    - @have_supervisor = 1

:javascript
  $(document).ready(function() {
    $('.reqdoc_button').click(function(){
      var c_type = $(this).attr("c_type");
      var sid    = $(this).attr("student_id");
      var siid  = $("input[name='firma']:checked").val();
      var options = $("#chk_asesor:checked").val();
      if ("#{@have_supervisor}"==0 && options == 1 && "#{@need_supervisor}" == "1")
      {
        alert("No puedes imprimir una constancia con asesor si el usuario no tiene uno asignado");
        return false;
      }
      
      window.location.href="estudiantes/constancias/"+c_type+"/"+sid+"/"+siid+"?options="+options;
    });
  });

.field_requested_document#field_requested_document_0{:style=>"width:600px; height:40px;"}
  = label_tag 'Constancia de estudios' 
  = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"estudios",:student_id=>@student.id  
.field_requested_document#field_requested_document_1{:style=>"width:600px; height:40px;"}
  = label_tag 'Constancia de inscripción' 
  = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"inscripcion",:student_id=>@student.id  
.field_requested_document#field_requested_document_2{:style=>"width:600px; height:40px;"}
  = label_tag 'Constancia para VISA' 
  = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"visa",:student_id=>@student.id  
.field_requested_document#field_requested_document_3{:style=>"width:600px; height:40px;"}
  = label_tag 'Constancia de promedio general' 
  = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"promedio",:student_id=>@student.id  
.field_requested_document#field_requested_document_4{:style=>"width:600px; height:40px;"}
  = label_tag 'Constancia de promedio semestral' 
  = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"semestral",:student_id=>@student.id  
.field_requested_document#field_requested_document_5{:style=>"width:600px; height:40px;"}
  = label_tag 'Constancia para el trámite de seguro' 
  = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"seguro",:student_id=>@student.id  
.field_requested_document#field_requested_document_6{:style=>"width:600px; height:40px;"}
  = label_tag 'Constancia de créditos cubiertos' 
  = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"creditos",:student_id=>@student.id  
 
.optionsDiv
  %b= "Opciones:"
  %br
  %br
    = check_box_tag "chk_asesor", 1, @checked, disabled: @disabled
    - if @disabled
      %text{:style=>"color:#D9D9D9"}= "Incluir asesor"
    - else
      = "Incluir asesor"

.radioDiv
  - dir = t(:directory)
  %br
  %b= "Firmantes:" 
  %br
  %br
    = radio_button_tag "firma", 1, false, class: "radio-button-sign"
    = "#{dir[:academic_director][:title]} #{dir[:academic_director][:name]}"
    = "(#{dir[:academic_director][:job]})"
  %br
    = radio_button_tag "firma", 2, true, class: "radio-button-sign"
    = "#{dir[:posgrado_chief][:title]} #{dir[:posgrado_chief][:name]}"
    = "(#{dir[:posgrado_chief][:job]})"
  - if (current_user.campus_id == 1 || current_user.campus_id==0)
    %br
      = radio_button_tag "firma", 3, false, class: "radio-button-sign"
      = "#{dir[:scholar_control][:title]} #{dir[:scholar_control][:name]}"
      = "(#{dir[:scholar_control][:job]})"
  - if (current_user.campus_id == 2 || current_user.campus_id==0)
    %br
      = radio_button_tag "firma", 4, false, class: "radio-button-sign"
      = "#{dir[:academic_coordinator_monterrey][:title]} #{dir[:academic_coordinator_monterrey][:name]}"
      = "(#{dir[:academic_coordinator_monterrey][:job]})"
