= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"

:css
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  
  .container { margin: auto; }
  .enrollment-files { float: left; }
  .enrollment-upload { float: right; }
  .enrollment-message { clear: both; text-align: center; color: red; font-size: 18px; }
  
  .icon-upload { cursor: pointer; }
  .icon-upload:hover { color: #505050; } 
  .icon-delete { cursor: pointer; }
  .icon-delete:hover { color: #505050; } 
  .hidden-message { display: none; }

  .div-center { text-align: center; }
  
  .enrollment-answer{ margin: auto; }
  .enrollment-button-group{ margin: auto; width: 300px; heigth: 32px; padding-top:20px;}
  .button-yes{ float: right; }
  .button-no{ float: left; }
  
  .delete-button{width: 140px; height: 30px;}
  .delete-button:hover{width: 138px; heigth: 28px; color: black; border-bottom: 2px solid #ddd; border-left: 2px solid #ddd;}
  
  .upload-btn-wrapper {
    padding-top:10px;
    clear:both;
  }
  
  .file-row {margin: auto;}
.container#content-panel
  .enrollment-message
    = "#{params[:message]}"

  .enrollment-files
    - if @enrollment_files.size > 0
      - @enrollment_files.each do |file|
        .file-row
          %b= file.term.name
          = "&nbsp".html_safe
          %a{:id=>"file_description_#{file.id}",:href=>"/estudiantes/archivos/cvus/file/#{file.id}"}= file.description
          %i.material-icons.icon-delete{:file_id=>file.id,:student_id=>file.student_id}= "delete"
    - else
      .file-row
        = "No se ha encontrado ningún archivo"

  .enrollment-upload
    %i.material-icons.md-48.icon-upload{:student_id=>@student_id}= "cloud_upload"
       
#alerta.hidden-message
  .div-center
    %h3= "¿Está seguro que desea eliminar el siguiente archivo?"
    %h3#delete_file_name
    .enrollment-button-group
      %button.button-yes.delete-button{:choice=>"si"}
        ="Si"
      %button.button-no.delete-button{:choice=>"no"}
        ="No"
        
:javascript
  my_id = 0;
  
  $(document).ready(function(){
    $(".icon-delete").click(function(){
      my_id       = $(this).attr("file_id");
      student_id  = $(this).attr("student_id");
      
      var description = $("#file_description_"+my_id).html();
      //$('#delete_file_name').html(description);
        
      if(confirm("Esta seguro de que desea eliminar el archivo "+description)){
        window.location= "/estudiantes/"+student_id+"/archivos/cvu/eliminar/"+my_id;
      }
      
    }); // fin icon-delete
    
    
    $(".icon-upload").click(function(){
      student_id  = $(this).attr("student_id");
      
      window.location = window.location= "/estudiantes/"+student_id+"/archivos/cvu/upload/file";
      
    }); // fin icon upload
    
    
    $("#new-advance-dialog input[type='file']").change(function(e) {
      filename = $(this).val().split('\\').pop();
      $("#new-advance-dialog label").html(filename);             
    })
  });// fin document.ready
