- @page_title = "Inscripciones"
- @nav_icon   = "Inscripciones"
- @new_term   = "2019-2"
- @old_term   = "2019-1"

#content-panel
  :javascript
    $(function(){
      $('#resource-tabs').tabs();
    });
  #resource-tabs{:style=>"padding-top: 40px;"}
    %ul
      %li.first-tab= link_to "General","#general"
      -#%li= link_to "Pagos","#pagos"
      -# %li= link_to "Log","#log"

    #general
      %h2="Alumnos pre-inscritos [#{@new_term}]"
      %table.formatted-table
        %tbody
          %tr.header
            %th="#"
            %th="Alumno"
            %th="En ciclo"
            %th="Materias Elegidas"
            %th="Folio"
          - @students.each_with_index do |s,index|
            - tcs = []
            - tsp = []
            - ts  = TermStudent.joins(:term).where("student_id=? AND terms.name like '%#{@new_term}%'",s.id)
            %tr
              %td= index + 1
              %td= s.full_name
              %td
                - if ts.size>0
                  - tcs = TermCourseStudent.where(:term_student_id=>ts[0].id)
                  - tsp = TermStudentPayment.where(:term_student_id=>ts[0].id)
                  = "Si"
                  - if ts[0].status.eql? 7
                    = "(Rechazado)"
                - else
                  = "No"
              %td= tcs.size
              %td
                - if tsp.size>0
                  = tsp[0].folio
      
      %h2="Alumnos inscritos [#{@new_term}]"
      
      %table.formatted-table
        %tbody
          %tr.header
            %th="#"
            %th="Alumno"
            %th="Programa"
          - counter = 0
          - @s = Student.joins(:term_students=>:term).where("students.status=? and terms.name like '%#{@new_term}%'",1)
          - @s.each_with_index do |s,index|
            %tr
              - if s.term_students.size>1 and !s.program.level.eql? 3
                %td= counter + 1
                %td= s.full_name
                %td= s.program.name
                - counter = counter + 1


      %b= "Notas: "
      %br
      %b= "1) Si ya esta en ciclo pero no tiene materias elegidas es que el asesor aprobó la inscripción sin materias lo cual es válido"
      %br
      %b= "2) Si ya esta en ciclo y tiene folio pero todavía aparece en la lista de preinscritos es que el asesor no ha aceptado la inscripción"
      %br
      %b= "3) Si no aparece en las listas es que no se ha aprobado su inscripción y no ha pasado a estatus de preinscrito para el ciclo indicado"
      %br
      %b= "4) Si aparece rechazado es que su asesor le devolvio las materias, esperamos a que vuelva a elegir"
      
    -#pagos
      -#%h2 Pagos
      -#%iframe{"name" => "submit_iframe", "id" => "files_iframe", "width" => "100%", "height" => "250", "src" => "/inscripciones/pagos", "scrolling" => "yes", "onLoad" => "calcFrameHeight(this.id);" }

    -#log
      %h2 Log
