- @page_title = "Inscripciones"
- @nav_icon   = "Inscripciones"

#content-panel
  :javascript
    $(function(){
      $('#resource-tabs').tabs();
    });
  #resource-tabs{:style=>"padding-top: 40px;"}
    %ul
      %li.first-tab= link_to "General","#general"
      %li= link_to "Pagos","#pagos"
      -# %li= link_to "Log","#log"

    #general
      %h2="Alumnos pre-inscritos"
      %table.formatted-table
        %tbody
          %tr.header
            %th="Alumno"
            %th="En ciclo"
            %th="Materias Elegidas"
            %th="Pago"
          - @students.each do |s|
            - ts  = TermStudent.joins(:term).where("student_id=? AND terms.name like '%2015-1%'",s.id)
            %tr
              %td= s.full_name
              %td
                - if ts.size>0
                  - tcs = TermCourseStudent.where(:term_student_id=>ts[0].id)
                  - tsp = TermStudentPayment.where(:term_student_id=>ts[0].id,:status=>3)
                  = "Si"
                - else
                  = "No"
              %td= tcs.size
              %td
                - if tsp.size>0
                  = "Si"
                - else
                  = "No"

    #pagos
      %h2 Pagos
      %iframe{"name" => "submit_iframe", "id" => "files_iframe", "width" => "100%", "height" => "250", "src" => "/inscripciones/pagos", "scrolling" => "yes", "onLoad" => "calcFrameHeight(this.id);" }

    -#log
      %h2 Log
