%html
  %head
    %title= 'ID CARD'
  =# %body{:bgcolor=>"#F5F5F5"}
  %body{:background=>"#{Rails.root}/app/assets/images/f5f5f5.png"}
    #id_card
      = image_tag "http://posgrado.cimav.edu.mx/assets/pdf-logo-card.jpg", :style => "margin-bottom: 20px; width: 100%;"
      %table#cont
        %tr
          %td.photo
            = image_tag "http://posgrado.cimav.edu.mx#{@student.image_url.to_s}"
          %td
            %table
              %tr
                %td
                  #card_name= @student.first_name
              %tr
                %td
                  #card_last_name= @student.last_name
              %tr
                %td
                  #card_program= @student.program.name
              %tr
                %td
                  #card_card= "Matrícula: #{@student.card}"
              %tr
                %td
                  #card_start_date= "Fecha de Ingreso: #{l @student.start_date, :format => :long}"
              %tr
                %td
                  - if @student.program.program_type.eql? 4 ## propedeuticos
                    #card_valid= "Vigencia: Febrero 18, 2018"
                  - else                                    ## resto de programas
                    #card_valid= "Vigencia: Febrero 18, 2018"
        %tr
          %td{:colspan => 2}
            %br
        %tr
          %td{:colspan => 2}
            %br
        %tr
          %td{:colspan => 2}
            = image_tag "http://posgrado.cimav.edu.mx/assets/student-bar-card.jpg", :style => "width: 108%;"
        %tr
          %td{:colspan => 2}
            %br
        %tr
          %td{:colspan => 2}
            %br
    .pb_before2
      %table#card-back
        %tr
          %td.sep-logo
            = image_tag "http://posgrado.cimav.edu.mx/assets/card-sep.jpg"
          %td
            %table#student-data
              %tr
                %td.back-name{:colspan => 2}= @student.full_name
              %tr
                %td= "Tipo de sangre:"
                %td= @student.blood_type
              %tr
                %td= "Correo:"
                %td= @student.email
              %tr
                %td= "Teléfono:"
                %td= @student.contact.home_phone
              %tr
                %td= "Tel. Celular:"
                %td= @student.contact.mobile_phone
              %tr
                %td= "Dirección:"
                %td
                  .address1= @student.contact.address1
                  .address2= @student.contact.address2
                  .city= "#{@student.contact.city}, #{@student.contact.state.name rescue ''}"
                  .country= @student.contact.country.name rescue ''
                  .zip= @student.contact.zip
              %tr
                %td.separator{:colspan => 2}
              %tr
                %td.empty{:colspan => 2}
              %tr
                %td.cimav-data{:colspan => 2}
                  %div= "Centro de Investigación en Materiales Avanzados, S.C."
                  %div= "Miguel de Cervantes 120, Complejo Industrial Chihuahua"
                  %div= "Chihuahua, Chih. México. 31109"
                  %div= "Tels. +52 (614) 439-1161, 439-1158"
                  %div= "Registro Institucional SEP: 18 - 00114"
