- @include_js  = 'students'
- @page_title = 'Estudiantes'
- @nav_icon = 'students'
- @page_title  = 'Estudiantes'
- @nav_icon    = 'students'
- @include2_js = 'select2'
- @include3_js = 'select2_locale_es'
- @include_css = Array.new
- @include_css = 'select2/select2'

:javascript
  var programs = #{@programs_json.to_json.html_safe};
  var remote_id = #{@remote_id.html_safe};

.config-menu
  = "Busqueda sensible a acentos y diéresis"
  = check_box_tag "accent_check",false
  %p="&nbsp;".html_safe
  = "Cargar automático primer resultado"
  = check_box_tag "first_check",false

#items-panel.side-panel 

  .panel-search{:style=>"height: 272px"}
    .invisible-options
      - program_options = Array.new
      - program_options.push(["Todos los programas","0"])
      - @programs.each do |program|
        - mi_array = [program.name,program.id,{:program_type=>program.program_type}]
        - program_options.push(mi_array)
      = options_for_select(program_options)
           
      
    = form_tag students_path, :id => 'live-search', :method => 'get', :remote => true do
      = select_tag "program_type", options_for_select(@program_type)

      = select_tag "program", options_for_select(program_options)

      - campus_options = Hash.new
      - if @all_campus
        - campus_options["Todos los campus"] = 0
      - @campus.each do |camp|
        - campus_options[camp.name] = camp.id
      = select_tag "campus", options_for_select(campus_options)

      - area_options = "<option value=\"0\">Todas las areas</option>"
      - @areas.each do |area|
        - area_options += "<option value=\"#{area.id}\">#{area.name}</option>"
      = select_tag "area_s", area_options.html_safe

      - supervisor_options = "<option value=\"0\">Cualquier asesor</option>"
      - @supervisors.each do |supervisor|
        - supervisor_options += "<option value=\"#{supervisor.id}\">#{supervisor.full_name}</option>" 
      = select_tag "supervisor", supervisor_options.html_safe

      - status_options = "<option value=\"0\">Todos los estados</option>"
      - status_options += "<option value=\"todos_activos\" selected=\"selected\">Activos</option>"
      -# status_options += "<option value=\"activos_inscritos\">Activos inscritos</option>"
      -# status_options += "<option value=\"activos_no_inscritos\">Activos no inscritos</option>"
      - status_options += "<option value=\"todos_egresados\">Egresados</option>"
      -# status_options += "<option value=\"egresados_graduados\">Egresados graduados</option>"
      -# status_options += "<option value=\"egresados_no_graduados\">Egresados no graduados</option>"
      - status_options += "<option value=\"baja_temporal\">Baja temporal</option>"
      - status_options += "<option value=\"baja_definitiva\">Baja definitiva</option>"
      - status_options += "<option value=\"preinscritos\">Todos los preinscritos</option>"
      = select_tag "status", status_options.html_safe

      = select_tag "scholarship_type", options_for_select([['No filtrar por beca', 10],['Sin beca', Student::NONE_SCHOLARSHIP],['Beca CONACYT', Student::CONACYT_SCHOLARSHIP],['Otra', Student::OTHER_SCHOLARSHIP]])

      = select_tag "student_time", options_for_select([['Cualquier tiempo de estudio', 10],['Tiempo completo', Student::FULL_TIME],['Medio tiempo', Student::HALF_TIME]])

      =# text_field_tag :q, nil, :id => 'search-box', :placeholder => 'Busqueda', :value=> @remote_id, :style=>"display: none;"
      - genre_options = Hash.new
      - genre_options["Todos los géneros"] = 0
      - genre_options["Masculino"] = "H"
      - genre_options["Femenino"] = "F"
      = select_tag "genero", options_for_select(genre_options)

      - year_options = "<option value=\"0\" selected=\"selected\">Todos los años</option>"
      - year_options += "<option value=\"1\">Los últimos 2 años</option>"
      - @years.reverse.each_with_index do |y,index|
        - year_options += "<option value=\"#{y}\">#{y}</option>"     
      = select_tag "year", year_options.html_safe

      - order_by_options = Hash.new
      - order_by_options["Ordernar por id (default)"] = "students.id"
      - order_by_options["Ordenar por Apellido"] = "last_name"
      - order_by_options["Ordenar por Nombre"] = "first_name"
      - order_by_options["Ordenar por Carrera"] = "program_id"

      = select_tag 'order_by', options_for_select(order_by_options)

  .panel-mark{:style=>"top: 264px;"}
    = text_field_tag "searchy","", :placeholder=>"Busqueda ...", "data-toggle"=>"hideseek", "data-list"=>".panel-list", :size=>29, :disabled=>true
    .div-config
      = image_tag "/images/config2.png" , :id => "search-config", :width=>'25px', :style=>"visibility:hidden;"
  
  #items-list.panel-items{:style=>"top: 294px;"}
  
  .panel-add
    %a{'id' => 'actives_to_excel'} ACTIVOS
    - if can? :create, Student
      = link_to  'Agregar nuevo estudiante', {:action => 'new'},  {:id => 'add-new-item', :method => :get, :remote => true, :'data-type' => 'html'}
    %a{'id' => 'to_excel'} XLS

#content-panel.main-panel


