- @include_js  = 'students'
- @page_title = 'Estudiantes'
- @nav_icon = 'students'
:javascript
  var programs = #{@programs_json.to_json}
#items-panel.side-panel 

  .panel-search{:style=>"height: 160px"}
    .invisible-options
      - program_options = Array.new
      - program_options.push(["Todos los programas","0"])
      - @programs.each do |program|
        - mi_array = [program.name,program.id,{:program_type=>program.program_type}]
        - program_options.push(mi_array)
      = options_for_select(program_options)
           
      
    = form_tag students_path, :id => 'live-search', :method => 'get', :remote => true do
      = select_tag "program_type", options_for_select(@program_type)

      = select_tag "program", options_for_select(program_options)

      - campus_options = Hash.new
      - if @all_campus
        - campus_options["Todos los campus"] = 0
      - @campus.each do |camp|
        - campus_options[camp.name] = camp.id
      = select_tag "campus", options_for_select(campus_options)

      - supervisor_options = "<option value=\"0\">Cualquier asesor</option>"
      - @supervisors.each do |supervisor|
        - supervisor_options += "<option value=\"#{supervisor.id}\">#{supervisor.full_name}</option>" 
      = select_tag "supervisor", supervisor_options.html_safe

      - status_options = "<option value=\"0\">Todos los estados</option>"
      - status_options += "<option value=\"todos_activos\" selected=\"selected\">Todos los activos</option>"
      - status_options += "<option value=\"activos_inscritos\">Activos inscritos</option>"
      - status_options += "<option value=\"activos_no_inscritos\">Activos no inscritos</option>"
      - status_options += "<option value=\"todos_egresados\">Todos los egresados</option>"
      - status_options += "<option value=\"egresados_graduados\">Egresados graduados</option>"
      - status_options += "<option value=\"egresados_no_graduados\">Egresados no graduados</option>"
      - status_options += "<option value=\"baja_temporal\">Baja temporal</option>"
      - status_options += "<option value=\"baja_definitiva\">Baja definitiva</option>"
      - status_options += "<option value=\"preinscritos\">Todos los preinscritos</option>"
      = select_tag "status", status_options.html_safe

      =# text_field_tag :q, nil, :id => 'search-box', :placeholder => 'Busqueda', :value=> @remote_id

  .panel-mark
    = text_field_tag "searchy", "", :placeholder=>"Busqueda ...", "data-toggle"=>"hideseek", "data-list"=>".panel-list", :size=>29, :disabled=>true
     
  #items-list.panel-items
  
  .panel-add
    - if can? :create, Student
      = link_to  'Agregar nuevo estudiante', {:action => 'new'},  {:id => 'add-new-item', :method => :get, :remote => true, :'data-type' => 'html'}
    %a{'id' => 'to_excel'} XLS

#content-panel.main-panel
