- @include_js = 'record'

.fields_requested
  - StudentFile::FOLDERS.each do |fs|
    .folder
      = image_tag "folder-icon-512x512.png", :id=> "folder_#{fs[0]}" ,:align=> 'center',:height=>'50px',:class=>'folder-record',:style=>'cursor: pointer;'
      = fs[1]
    .content-folder{:id=>"cf-#{fs[0]}",:style=>'display: none;'}
      = image_tag "back_button.png", :align=> 'left',:height=>'40px',:class=>'return',:style=>'cursor: pointer;'
      %br=""
      %br
        %h2="#{fs[1]}"
      - StudentFile::FILE_TYPE.select {|h| h[:folder]==fs[0]}.each do |ft|
        .file
          - my_id = ft[:id]
          - @s_f =  @s_files.select {|l| l[1]==my_id}
          - if @s_f.size > 0
            - @fail  = "none"
            - @load  = "none"
            - @ok    = "block"
            - @subir = "none"
            - @descargar = "block"
            - @myid  =  @s_f[0][0]
          - else
            - @fail  = "block"
            - @load  = "none"
            - @ok    = "none"
            - @subir = "block"
            - @descargar = "none"
            - @myid  =  0
          = form_for(StudentFile.new, :url => {:action => "upload_one_file"}, :html => {:id => "reqdoc-form-#{my_id}", :multipart=> true,:target=>'files_iframe2'}) do |f|
            = hidden_field_tag :student_id, @student.id
            = hidden_field_tag :file_type, my_id
            = label_tag "#{ft[:description]}"
            = image_tag "fail_40px.png", :id=> "img_fail_#{my_id}" ,:align=> 'center', :style=>"display: #{@fail};"
            = image_tag "/images/ajax-load2.gif", :id=> "img_load_#{my_id}" , :align=> 'center',:style=>"display: #{@load};"
            = image_tag "ok_40px.png", :id=> "img_ok_#{my_id}" , :align=> 'center', :style=>"display: #{@ok};"
            = f.file_field :file,:id=>"applicant_file_file_#{my_id}", :style=>"display: #{@subir};"
            = button_tag "Subir Archivo", :type=>'button', :class=>'reqdoc_button', :my_id=>"#{my_id}", :id=>"reqdoc_button_#{my_id}", :style=>"display: #{@subir};"
            = button_tag "Descargar Archivo", :type=>'button', :class=>'reqdoc_button_download', :my_id=>"#{my_id}", :id=>"reqdoc_button_download_#{my_id}",:my_file_id=> @myid, :style=>"display: #{@descargar}"
            = button_tag "Eliminar Archivo", :type=>'button', :class=>'reqdoc_button_delete', :my_id=>"#{my_id}", :id=>"reqdoc_button_delete_#{my_id}",:my_file_id=> @myid, :style=>"display: #{@descargar}"
  
  .folder
    = image_tag "folder-icon-512x512.png", :id=> "folder_all" ,:align=> 'center',:height=>'50px',:class=>'folder-record',:style=>'cursor: pointer;'
    = "Todo"
    
%iframe{"name" => "files_iframe2", "id" => "files_iframe2" ,:style=> "display: none;"}
