:javascript

  $(function() {
    $("#graduate-dialog").remove();
    $('#content-panel').append('<div title="Graduado" id="graduate-dialog"><center><iframe id="iframe-graduate-dialog" width="650" height="440" src="/egresados/nuevo/#{@student.id}/dialog" scrolling="yes"></iframe></center></div>');
    $("#graduate-dialog").dialog({ autoOpen: false, width: 740, height: 550, modal:true });
  });
  
  window.success_msg = function(id) {
    if (id==1)
    {
       $("#graduate-dialog").dialog("close");
    }

  };

  $("#a-id-destroy").live("ajax:success", function(evt, data, status, xhr) {
    var res = $.parseJSON(xhr.responseText);
     try{
       initializeSearchForm();
       liveSearch();
     }
     catch(e)
     {
       // let it pass
     }

  });
   

= form_for @student, :remote => true, :html => {:'data-type' => 'html', :id => 'item-edit-form'} do |f|
  = hidden_field :student, :id

  :javascript
    var ftabs = ["#detalles","#notas"];
    $(function() {
      $('#resource-tabs').tabs({
        select: function(event,ui){ 
          var href = $(ui.tab).attr('href');
          var uri  = $(ui.tab).attr('data-remote');

          if(ftabs.indexOf(href)==-1){
            $(ui.panel).html("<img src=\"\/images\/ajax-load2.gif\">");
            $.get(uri, function(data) {
              $(ui.panel).html(data);
              ftabs.push(href);
            })
            .fail(function(){
              $(ui.panel).html("No se pudo cargar el panel "+href);
            });
          }
        }
      });
      $("#change-img-dialog").remove();
      $('#content-panel').append('<div title="Cambiar fotografía" id="change-img-dialog"><iframe width="430" height="450" src="/estudiantes/#{@student.id}/cambiar_foto" scrolling="no"></iframe></div>');
      $("#change-img-dialog").dialog({ autoOpen: false, width: 470, height: 550, modal:true });   
      $("#a-change-image").live("click", function() {
        $("#change-img-dialog").dialog('open');
      });
    });

  .resource-header.student-header
    .resource-picture
      = image_tag @student.image_url(:medium).to_s, :id => "img-medium-#{@student.id}"
      %br
      = link_to 'Cambiar foto', '#', :id=>'a-change-image'
    .resource-title
      %h1
        = "#{@student.full_name}" 
        - if can? :destroy, @student
          = link_to 'Eliminar',"/estudiantes/#{@student.id}/borrar", :remote=>true, :id=>'a-id-destroy',:confirm=>'Esto borrara todos los registros del estudiante ¿Seguro que deseas eliminarlo?'
      .comment= "Matrícula: #{@student.card} (#{@student.program.name})"
      .comment
        = "Tiempo estudiante: #{@year} #{@text_year} #{@month} #{@text_month}, Ciclos: "
        - tcs_size = @student.term_students.where(:status=>1).size
        - if tcs_size > @student.program.terms_qty
          %span{:style=>"color: red;"} #{tcs_size} (#{@student.program.terms_qty})
        - else  
          = "#{tcs_size} de #{@student.program.terms_qty}"
      .resource-card
        =# link_to 'Credencial', "/estudiantes/#{@student.id}/credencial.pdf", :id=>'a-id-card'
        %a{:id=>"a-id-card"}='Credencial'
        %span.extension
          = "Con prórroga"
          = check_box_tag "chk_extension"
    .resource-save
      - if can? :update, @student
        = f.submit 'Actualizar'
        
  #resource-tabs
    %ul
      %li.first-tab= link_to "Detalles", "#detalles"
      %li= link_to "Contacto", "#contacto", :data=> {:remote=>"/estudiantes/contacto/#{@student.id}"}
      %li= link_to "Avances", "#avances", :data=> {:remote=>"/estudiantes/avance/#{@student.id}"}
      %li= link_to "Tesis", "#tesis", :data=> {:remote=>"/estudiantes/tesis/#{@student.id}"}
      %li= link_to "Archivos", "#archivos", :data=> {:remote=>"/estudiantes/archivos/#{@student.id}"}
      %li= link_to "Documentos", "#documentos", :data=> {:remote=>"/estudiantes/documentos/#{@student.id}"}
      %li= link_to "Horarios", "#horario", :data=> {:remote=>"/estudiantes/horario/#{@student.id}"}
      %li= link_to "Calificaciones", "#calificaciones", :data=> {:remote=>"/estudiantes/calificaciones/#{@student.id}"}
      %li= link_to "Notas", "#notas"
      %li= link_to "Kardex", "#kardex", :data=> {:remote=>"/estudiantes/kardex/#{@student.id}"}
      %li= link_to "Pagos", "#pagos", :data=> {:remote=>"/estudiantes/pagos/#{@student.id}"}
      %li= link_to "Constancias", "#constancias", :data=> {:remote=>"/estudiantes/constancias/#{@student.id}"}

    #detalles
      %h2 Detalles

      .field#field_student_first_name
        = f.label :first_name, mark_required(@student, :first_name) + 'Nombre'
        = f.text_field :first_name 

      .field#field_student_last_name
        = f.label :last_name, mark_required(@student, :last_name) + 'Apellido paterno'
        = f.text_field :last_name

      .field#field_student_last_name2
        = f.label :last_name2, 'Apellido materno'
        = f.text_field :last_name2

      .field#field_student_email
        = f.label :email, 'Email personal'
        = f.text_field :email
      .field#field_student_email_cimav
        = f.label :email_cimav, 'Email CIMAV'
        = f.text_field :email_cimav

      %h3 Datos Academicos
      .field#field_student_status
        = f.label :status, 'Estado'
        = f.select :status, @status.invert.sort {|a,b| a[1] <=> b[1] }
      .field#field_student_studies_plan
        = f.label :studies_plan_id, 'Plan de Estudios'
        = f.collection_select :studies_plan_id, @student.program.studies_plan,:id,:name, options = {:prompt => "Selecciona un plan de estudios"}

      .field#field_student_area_id
        = f.label :area_id, 'Area'
        = f.collection_select :area_id, @areas, :id, :name, options = {:prompt => "Selecciona el area"}

      .field#field_student_supervisor
        = f.label :supervisor, 'Director'
        = f.select :supervisor, options_from_collection_for_select(@staffs, :id, :full_name_upcase_origin, @student.supervisor), :prompt => "Selecciona al Director"
      .field#field_student_co_supervisor
        = f.label :co_supervisor, 'Codirector'
        = f.select :co_supervisor, options_from_collection_for_select(@staffs, :id, :full_name_upcase_origin, @student.co_supervisor), :prompt => "Selecciona al Co-director"
      .field#field_student_co_supervisor
        = f.label :external_supervisor, 'Director externo'
        = f.select :external_supervisor, options_from_collection_for_select(@staffs.where("institution_id!=1"), :id, :full_name_upcase_origin, @student.external_supervisor), :prompt => "Selecciona al Director externo"
      .field#field_student_start_date
        = f.label :start_date, 'Fecha de inicio'
        = f.date_select :start_date, :start_year => 1994, end_year:Date.today.year+5
      .field#field_student_inactive_date
        = f.label :inactive_date, 'Fecha de baja temporal'
        = f.date_select :inactive_date, :start_year => 1994
      .field#field_student_definitive_inactive_date
        = f.label :definitive_inactive_date, 'Fecha de baja definitiva'
        = f.date_select :definitive_inactive_date, :start_year => 1994
      .field#field_student_cvu
        = f.label :cvu, 'CVU'
        = f.text_field :cvu
      .field#field_student_scholarchip_type
        =f.label :scholarship_type, 'Beca'
        =f.select :scholarship_type, [['Sin beca', Student::NONE_SCHOLARSHIP],['Beca CONACYT', Student::CONACYT_SCHOLARSHIP],['Otra', Student::OTHER_SCHOLARSHIP]], prompt:'---Selecciona---'
      .field#field_student_student_time
        =f.label :student_time, 'Tiempo de estudio'
        =f.select :student_time, [['Tiempo completo', Student::FULL_TIME],['Medio tiempo', Student::HALF_TIME]], prompt:'---Selecciona---'
      .field#field_student_campus_id
        = f.label :campus_id, 'Campus'
        = f.collection_select :campus_id, @campus, :id, :name, options = {:prompt => "---Selecciona un campus---"}
      .field#field_student_location
        = f.label :location, 'Ubicación'
        = f.text_field :location
      .field#field_student_num_beca_conacyt
        = f.label :num_beca_conacyt, 'Núm. beca Conacyt'
        = f.text_field :num_beca_conacyt

      
      %h3 Datos Personales

      .field#field_student_gender 
        = f.label :gender, 'Sexo'
        = f.select :gender,  [['Hombre', 'H'], ['Mujer', 'F']], :prompt=>"--Selecciona Sexo--"

      .field#field_student_date_of_birth
        = f.label :date_of_birth, 'Fecha de nacimiento'
        = f.date_select :date_of_birth, :start_year => DateTime.now.year - 100

      .field#field_student_country_id
        = f.label :country_id, 'País de nacimiento'
        = f.collection_select :country_id, @countries, :id, :name, options = {:prompt => "---Selecciona un País---"}

      .field#field_city
        = f.label :city, 'Ciudad de nacimiento'
        = f.text_field :city

      .field#field_state
        = f.label :state, 'Estado de nacimiento'
        = f.collection_select :state_id, @states, :id, :name, options = {:prompt => "---Selecciona el Estado---"}
      .field#field_student_ife
        = f.label :ife, 'IFE'
        = f.text_field :ife
      .field#field_student_cvu
        = f.label :curp, 'CURP'
        = f.text_field :curp



      %h3 Grado anterior
      .field#field_previous_institution
        = f.label :previous_institution, 'Institucion'
        = f.select :previous_institution, options_from_collection_for_select(@institutions, :id, :name, @student.previous_institution), :prompt => "Selecciona la institucion"
      .field#field_previous_degree_type
        = f.label :previous_degree_type, 'Tipo'
        = f.select :previous_degree_type,  [['---Selecciona el grado---',''], ['Post-Doctorado', 'POSDOCTORADO'], ['Doctorado', 'DOCTORADO'], ['Maestria', 'MAESTRIA'], ['Licenciatura', 'LICENCIATURA'], ['Bachillerato', 'BACHILLERATO']]
      .field#field_previous_degree_desc
        = f.label :previous_degree_desc, 'Grado'
        = f.text_field :previous_degree_desc
      .field#field_previous_degree_date
        = f.label :previous_degree_start_date, 'Fecha inicio'
        = f.date_select :previous_degree_start_date, :start_year => 1950
      .field#field_previous_degree_date
        = f.label :previous_degree_date, 'Fecha termino'
        = f.date_select :previous_degree_date, :start_year => 1950


      %h3 Información en caso de accidente
      .field#field_student_accident_contact
        = f.label :accident_contact, 'Contactar a'
        = f.text_field :accident_contact

      .field#field_student_accident_phone
        = f.label :accident_phone, 'Teléfono'
        = f.text_field :accident_phone

      .field#field_student_ssn
        = f.label :ssn, 'Seguridad Social'
        = f.text_field :ssn

      .field#field_student_blood_type
        = f.label :blood_type, 'Tipo de sangre'
        = f.text_field :blood_type

      .field#field_student_passport
        = f.label :passport, 'Pasaporte'
        = f.text_field :passport



    #contacto
    #avances
    #tesis
    #horario
    #calificaciones
    #archivos
    #documentos
    #notas
      %h2 Notas
      = f.text_area :notes

    #kardex
    #pagos
    #constancias

#extension-page{:style => "display:none;"}
  %div{:id => "field_extension_date", :class => 'field'}
    =label_tag "Fecha de prórroga"
    =date_select "print","date", :start_year => 2017
  %div{:id => "field_notes", :class => 'field'}
    =label_tag "Notas"
    =text_area_tag "notes", nil, :cols=>55, :rows=>5
  %div{:id => "field_button_extension_page", :class => 'field'}
    = button_tag "Generar", :id=>"button_mine", :name=>"button_mine", :class=>"my_class", :type=>"button"

%iframe{"name" => "downloads_iframe", "id" => "downloads_iframe", :height=>"100px" ,"src" => "", "scrolling" => "no", :frameborder=>"0"}

:javascript
  $(document).ready(function(){
    display_inactive_date($('#field_student_status #student_status').val());
    $('#student_supervisor').select2({width: '400px'});
    $('#student_co_supervisor').select2({width: '400px'});
    $('#student_external_supervisor').select2({width: '400px'});
    $('#student_previous_institution').select2({width: '530px'});
    $('#field_student_status #student_status').change(function() {
      display_inactive_date($(this).val());
    });
  });

  function display_inactive_date(status){
    if(status == 3){
      $('#field_student_definitive_inactive_date').hide();
      $('#field_student_inactive_date').show();
    }else if(status == 4){
      $('#field_student_definitive_inactive_date').show();
      $('#field_student_inactive_date').hide();
    }else{
      $('#field_student_definitive_inactive_date').hide();
      $('#field_student_inactive_date').hide();
    }
  }

