- @include_js = 'applicants'
- @page_title = 'Aspirantes'
- @nav_icon = 'applicants'
#items-panel.side-panel 
  .panel-search{:style=>"height: 135px"}
    .invisible-options
      - program_options = Array.new
      - program_options.push(["Todos los programas","0"])
      - @programs.each do |program|
        - mi_array = [program.name,program.id,{:program_type=>program.program_type}]
        - program_options.push(mi_array)
      = options_for_select(program_options)
    = form_tag students_path, :id => 'live-search', :method => 'get', :remote => true do
      = select_tag "program", options_for_select(program_options)

      - status_options = Applicant::STATUS.invert.sort {|a,b| a[1] <=> b[1] }
      - status_options.unshift(["Todos los estatus",0])

      = select_tag "status", options_for_select(status_options)
      
      - campus_options = Array.new
      - campus_options.push(["Todos los campus","0"]) 
      - @campus.each do |campus|
        - mi_array = [campus.name,campus.id]
        - campus_options.push(mi_array)
      = select_tag "campus", options_for_select(campus_options)

      = text_field_tag :q, nil, :id => 'search-box', :placeholder => 'Busqueda'
      
      .cbs
        %span 
          = check_box_tag 'status_borrados', '1', false, :class => 'status-cbs'
          = label_tag 'status_borrados', 'Mostrar Borrados'
        %span 
          - checked = false
          - if (@config[:applicants][:form_status].to_i.eql? 1 rescue false)
            - checked = true
          = check_box_tag 'status_formato_ingreso', '2', checked, :class => 'status-cbs-sts'
          = label_tag 'status_formato_ingreso', 'Activar formato ingreso'

        %span 
          - checked = false
          - if (@config[:applicants][:documents_status].to_i.eql? 1 rescue false)
            - checked = true
          = check_box_tag 'status_documentos_ingreso', '3', checked, :class => 'status-cbs-sts'
          = label_tag 'status_documentos_ingreso', 'Activar documentos ingreso'
 
  #items-list.panel-items{:style=>"top: 155px;"}
  
  .panel-add
    - if can? :create, Applicant
      = link_to  'Agregar nuevo aspirante', {:action => 'new'},  {:id => 'add-new-item', :method => :get, :remote => true, :'data-type' => 'html'}
    %a{'id' => 'to_excel'} XLS

#content-panel.main-panel
