= form_for @applicant, :remote => true, :html => { :'data-type' => 'html', :id => 'item-new-form' } do |f|

  .resource-header
    .resource-picture
    .resource-title
      %h1= "Nuevo Aspirante"
    .resource-save
      = f.submit 'Agregar'

  #resource-tabs
    %ul
      %li.first-tab= link_to "Detalles", "#detalles"

    #detalles
      %h2 Detalles
      .field#field_applicant_first_name
        = f.label :first_name, 'Nombre' 
        = f.text_field :first_name 
      
      .field#field_applicant_primary_last_name
        = f.label :primary_last_name, 'Primer Apellido'
        = f.text_field :primary_last_name
        
      .field#field_applicant_second_last_name
        = f.label :second_last_name, 'Segundo Apellido'
        = f.text_field :second_last_name

      .field#field_applicant_program_id
        = f.label :program_id, 'Programa'
        = f.select :program_id, @programs.collect {|p| [ p.name, p.id ] }.push(["Otro",0]), {:include_blank => 'Selecciona el programa'}
 
      .field#field_applicant_campus_id
        = f.label :campus_id, 'Campus'
        = f.select :campus_id, @campus.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Selecciona el campus'}

      .field#field_applicant_date_of_birth
        = f.label :date_of_birth, 'Fecha de nacimiento'
        = f.date_select :date_of_birth, :start_year => DateTime.now.year - 100

      .field#field_applicant_previous_institution
        = f.label :previous_institution, 'Institucion'
        = f.select :previous_institution, @institutions.collect {|p| [ p.name, p.id ] }.push(["Otras",0]), {:include_blank => 'Selecciona la institucion'}

      .field#field_applicant_previous_degree_type
        = f.label :previous_degree_type, 'Grado'
        = f.text_field :previous_degree_type, :size => 65
      
      .field#field_applicant_average
        = f.label :average, 'Promedio'
        = f.text_field :average
      
      .field#field_applicant_phone
        = f.label :phone, 'Teléfono'
        = f.text_field :phone
 
      .field#field_applicant_cell_phone
        = f.label :cell_phone, 'Celular'
        = f.text_field :cell_phone

      .field#field_applicant_address
        = f.label :address, 'Dirección'
        = f.text_field :address, :size => 100

      .field#field_applicant_civil_status
        = f.label :civil_status, 'Estado Civil'
        = f.select :civil_status, Applicant::CIVIL_STATUS.invert.sort {|a,b| a[1] <=> b[1] }.unshift(["Selecciona el estado civil",""])

      .field#field_applicant_staff_id
        = f.label :staff_id, 'Supervisor'
        = f.collection_select :staff_id, @staffs, :id, :full_name, options = {:prompt => "Selecciona el asesor"}

