:javascript
  $(document).ready(function() {
    $('.reqdoc_button').click(function(){
      var estatus = $(this).attr("estatus");
      var nivel = $(this).attr("level");

      if(estatus==3){
        var ciclo  = prompt("Capture ciclo:");
        var f_ins  = prompt("Capture fecha de inscripcion:");
      }
      else if(estatus==5){
          var ciclo  = prompt("Capture ciclo:");
          var f_ini  = prompt("Capture fecha de inicio del ciclo:");
          var f_fin  = prompt("Capture fecha de fin del ciclo:");
          var f_ins  = prompt("Capture fecha de inscripcion:");
      }
      else if(estatus==2){
        var f_rev  = prompt("Capture fecha de revision del comite:");
        if (nivel==2){
          var rec    = prompt("Capture recomendacion del comite:");
        }
      }
      
      var c_type = $(this).attr("c_type");
      var aid    = $(this).attr("applicant_id");
      window.location.href="aspirantes/constancias/"+c_type+"/"+aid+"?ciclo="+ciclo+"&f_ini="+f_ini+"&f_fin="+f_fin+"&f_ins="+f_ins+"&f_rev="+f_rev+"&rec="+rec;
    });

    $('#applicant_program_id').change(function(){
      var sel_val = $(this).val();
      var val     = $(this).val();
      if (val){
        var response = confirm("Al guardar los cambios se recalculara el folio  ¿Seguro que desea hacer esto?");
        if (!response){ // NO!!
          $('#applicant_program_id option').prop('selected', function() {
            if (this.defaultSelected){
              sel_val = $(this).val();
            }
          });
        }
      }
      $(this).val(sel_val);
    });
    
  });

= form_for @applicant, :remote => true, :html => {:'data-type' => 'html', :id => 'item-edit-form'} do |f|
  = hidden_field :applicant, :id
  .resource-header.student-header
    .resource-picture
      %br
    .resource-title
      %h1= "#{@applicant.full_name}"
      #folio_div.comment
        = "Folio: #{@applicant.folio}"
      .comment
      .resource-card
    .resource-save
      - if can? :update, @applicant
        = f.submit 'Actualizar'

  #resource-tabs
    %ul
      %li.first-tab= link_to "General", "#general"
      %li= link_to "Documentos", "#documentos"
      %li= link_to "Constancias", "#constancias"

    #general
      %h2 General
      .field#field_applicant_first_name
        = f.label :first_name, 'Nombre' 
        = f.text_field :first_name 
      
      .field#field_applicant_primary_last_name
        = f.label :primary_last_name, 'Primer Apellido'
        = f.text_field :primary_last_name

        
      .field#field_applicant_second_last_name
        = f.label :second_last_name, 'Segundo Apellido'
        = f.text_field :second_last_name

      .field#field_applicant_program_id
        = f.label :program_id, 'Programa'
        = f.select :program_id, @programs.collect {|p| [ p.name, p.id ] }.push(["Otro",0]), {:include_blank => 'Selecciona el programa'}
      
      .field#field_internship_campus
        = f.label :campus_id, 'Campus'
        - p = @campus.collect{|p|[p.name,p.id]}
        = f.select :campus_id,p

      .field#field_applicant_date_of_birth
        = f.label :date_of_birth, 'Fecha de nacimiento'
        = f.date_select :date_of_birth, :start_year => DateTime.now.year - 100

      .field#field_previous_institution
        = f.label :previous_institution, 'Institucion'
        = f.select :previous_institution, @institutions.collect {|p| [ p.name, p.id ] }.push(["Otras",0]), {:include_blank => 'Selecciona la institucion'}
 
      .field#field_previous_degree_type
        = f.label :previous_degree_type, 'Grado'
        = f.text_field :previous_degree_type, :size => 65
      .field#field_applicant_average
        = f.label :average, 'Promedio'
        = f.text_field :average
      
      .field#field_applicant_phone
        = f.label :phone, 'Teléfono'
        = f.text_field :phone
 
      .field#field_applicant_cell_phone
        = f.label :cell_phone, 'Celular'
        = f.text_field :cell_phone

      .field#field_applicant_address
        = f.label :address, 'Dirección'
        = f.text_field :address, :size => 100

      .field#field_applicant_civil_status
        = f.label :civil_status, 'Estado Civil'
        = f.select :civil_status, Applicant::CIVIL_STATUS.invert.sort {|a,b| a[1] <=> b[1] }.unshift(["Selecciona el estado civil",""])
      
      .field#field_applicant_staff_id
        = f.label :staff_id, 'Supervisor'
        = f.collection_select :staff_id, @staffs, :id, :full_name, options = {:prompt => "Selecciona el asesor"}
 
      .field#field_applicant_status
        = f.label :status, 'Estatus'
        = f.select :status, Applicant::STATUS.invert.sort {|a,b| a[1] <=> b[1] }
      
      .field#field_applicant_notes
        = f.label :notes, 'Notas'
        = f.text_area :notes

    #documentos
      %h2 Documentos
      %iframe{"name" => "files_iframe", "id" => "files_iframe", "width" => "100%", "height" => "555", "src" => "/aspirantes/#{@applicant.id}/archivos", "scrolling" => "no", :frameborder=>"0"}
    
    #constancias
      %h2 Constancias
      .field_requested_document#field_requested_document_2{:style=>"width:600px; height:40px;"}
        = label_tag 'Carta de estatus de aceptación' 
        - if @applicant.status!= 4 && @applicant.status!=1 && !@applicant.program.nil?
          = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"aceptacion", :applicant_id=>@applicant.id, :estatus=>@applicant.status, :level=>@applicant.program.level rescue 0
