%br
%br
%br
%br
%br
%font{:face=>"Arial"}
  %p.western{:align=>"left"}
    %b="C. #{@nombre}"
    %br
    %b="Presente.-"
  %br
  %br
  %div{:style=>"text-align: justify;"}
    %p.western{:style=>"font-size: 27pt; font-weight: 100;"}
      ="Por este conducto me es grato notificarle que ha sido aceptado como alumno al curso #{@programa} para el ciclo #{@ciclo}, que inicia el próximo #{@fecha_inicio} y concluye el #{@fecha_fin}. Le informo que las fechas establecidas para la  inscripción son el próximo #{@fecha_inscripcion}, para lo cual deberá presentarse en el área de Control Escolar de este Departamento."
    %p.western{:style=>"font-size: 27pt; font-weight: 100;"}
      ="Así mismo le informo que los cursos propedéuticos son aquellos destinados a preparar a los estudiantes aspirantes para ingresar a un Programa de Maestría. El objetivo de estos cursos será uniformar y nivelar  los conocimientos de los aspirantes a un Programa. Estos cursos podrán servir como evaluación para la admisión al Programa correspondiente, siempre y cuando se aprueben todas las materias con calificación mínima de 80 puntos. En caso de reprobar el curso propedéutico, los estudiantes podrán realizar por segunda ocasión el examen de admisión.   Sin embargo, el curso propedéutico se podrá cursar sólo por una ocasión."
    %p.western{:style=>"font-size: 27pt; font-weight: 100;"}
      ="Le envío una felicitación por este logro académico. Para cualquier duda o comentario al respecto, estoy a sus órdenes."
    %p.western{:style=>"font-size: 27pt; font-weight: 100;"}
      = "Chihuahua, Chihuahua #{@days} de #{@month} de #{@year}"
  %p.western
    %br
    %br
    %br
  %div{:style=>"border:none;  width: 100%; text-align: center; position: absolute; font-family: Arial, sans-serif; font-size: 27pt; so-language: es-ES;"}
    %b="ATENTAMENTE"
    %br
    %br
    %br
    %b="M.H. Nicté Ortiz Villanueva"
    %br
    %b="#{@puesto}."
    %p
    %br
    %div{:style=>"text-align: left;"}
      - if @campus == 2
        ="c.c.p. Unidad Monterrey"
      %br
      ="c.c.p. Expediente"

