#tc-header
  #tc-title
    %h4= "#{tc.course.name} [#{tc.course.studies_plan.code}]"
    %div Ciclo Escolar: #{tc.term.name} (#{l tc.term.start_date, :format => :long} – #{l tc.term.end_date, :format => :long})
    #groups-dropdown 
      = "Grupo: "
      - items = TermCourse.where(:status != TermCourse::DELETED).where("term_id = :t AND course_id = :c", {:t => tc.term_id, :c => tc.course_id}).collect {|i| [ i.group + ': ' + (i.staff_id.nil?? 'Sin titular':Staff.find(i.staff_id).full_name_status), i.group]}
     
      - if can? :create, TermCourse
        - items += [['Agregar nuevo grupo', 0]] if (tc.term.status == Term::OPEN) 
     
      = select "tc", "group", items, :selected => params[:group]
     
      - if can? :edit, TermCourse
        - if (tc.term.status == Term::OPEN) 
          = link_to 'Cambiar titular del cursoo', '#', :id => 'update-staff-group', :class=>'tc-link'

  #tc-options
    - student_class = selected == 'students'?'tc-selected':''
    - schedule_class = selected == 'schedule'?'tc-selected':''
    - attendee_class = selected == 'attendee'?'tc-selected':''
    - documentation_class = selected == 'documentation'?'tc-selected':''
    = link_to 'Estudiantes', '#', :id=>'a-tc-students', :class => student_class
    = link_to 'Horario', '#', :id=>'a-tc-schedule', :class => schedule_class
    = link_to 'Asistencia', '#', :id=>'a-tc-attendee', :class => attendee_class
    = link_to 'Documentación', '#', :id=>'a-tc-documentation', :class => documentation_class
    - if can? :delete, TermCourse
      = link_to 'Eliminar grupo', "/programas/#{tc.course.program_id}/periodo/#{tc.term_id}/grupo/#{tc.id}", id: 'a-tc-delete', term_course:tc.id, :confirm=>'¿Estás seguro?' 
