#schedule-header
  %h3= @tc.course.name
  #schedule-term Ciclo Escolar: #{@tc.term.name} (#{l @tc.term.start_date, :format => :long} – #{l @tc.term.end_date, :format => :long})

= form_for(@tc, :url => { :action => "create_group" }) do |f|
  = f.hidden_field :term_id
  = f.hidden_field :course_id
  %div{:id => "group_staff", :class => 'field'}
    = f.label :staff_id, 'Titular'
    = f.grouped_collection_select :staff_id, @institutions, :staffs, :name, :id, :full_name, options = {:prompt => "Selecciona el docente"}
  #dialog-submit-button-area
    = f.submit "Crear nuevo grupo"

