- current_term = 0
%table.plan
  %tbody
  - @program.courses.where(:studies_plan_id=>@studies_plan_id).order("term").order("name").each_with_index do |course, index|
    - if current_term != course.term 
      - current_term = course.term
      - if current_term == 99
        %tr.optional
          %th{:colspan=>5} Optativas
      - elsif current_term == 100
        %tr.optional
          %th{:colspan=>5}= "Materias de Especialización"
      - elsif current_term == 101
        %tr.optional
          %th{:colspan=>5}= "Actividades Complementarias"
      - else
        %tr.term
          %th{:colspan=>5}= "#{@program.term_type} #{course.term}"
      %tr.header
        %th Clave
        %th Nombre
        %th Creditos
        %th Prerequisitos
        %th Corequisitos
    %tr.course{:id=>"tr_#{course.id}", :course_id=>course.id}
      %td= course.code
      %td
        = course.name
        -if current_term>=99 and !course.studies_plan_area.nil?
          - mod = course.studies_plan_area_id%10
          - if mod.eql? 1
            - color = "MediumPurple"
            - text_color = "black"
          - elsif mod.eql? 2
            - color = "Green"
            - text_color = "white"
          - elsif mod.eql? 3
            - color = "Darkblue"
            - text_color = "white"
          - elsif mod.eql? 4
            - color = "Brown"
            - text_color = "white"
          - elsif mod.eql? 5
            - color = "Gold"
            - text_color = "black"
          - elsif mod.eql? 6
            - color = "Teal"
            - text_color = "white"
          - elsif mod.eql? 7
            - color = "MistyRose"
            - text_color = "black"
          - elsif mod.eql? 8
            - color = "Orange"
            - text_color = "black"
          - elsif mod.eql? 9
            - color = "Black"
            - text_color = "white"
          - else
            - color = "Gray"
            - text_color = "white"
          %span{:style=>"float:right; background-color:#{color}; color:#{text_color}; text-size:10px; padding:3px; margin:0px;"}= course.studies_plan_area.name rescue ""
      %td.centered= "#{course.lecture_hours_int}–#{course.lab_hours_int}–#{course.credits_int}"
      - prereq = []
      - if !course.prereq1.nil?
        - prereq << Course.find(course.prereq1).code rescue 'Error'
      - if !course.prereq2.nil?
        - prereq << Course.find(course.prereq2).code rescue 'Error'
      - if !course.prereq3.nil?
        - prereq << Course.find(course.prereq3).code rescue 'Error'
      %td= prereq.join(',')
      - coreq = []
      - if !course.coreq1.nil?
        - coreq << Course.find(course.coreq1).code rescue 'Error'
      - if !course.coreq2.nil?
        - coreq << Course.find(course.coreq2).code rescue 'Error'
      - if !course.coreq3.nil?
        - coreq << Course.find(course.coreq3).code rescue 'Error'
      %td= coreq.join(',')

= link_to 'Agregar curso', '#', :id=>'a-new-course'
