= render :partial => 'term_course_header', :locals => {:tc => @tc, :selected => 'schedule'}
-term_course_scheadules = @tc.term_course_schedules.where(:status => TermCourseSchedule::ACTIVE)
-if term_course_scheadules.count > 0

  -# El conteo se hace en un hash {k,v} donde k es el docente y v son las horas impartidas
  -staff_hours = Hash.new(0)
  -term_course_scheadules.each do |tcs|
    -hours_per_day = tcs.end_hour.strftime("%H").to_i - tcs.start_hour.strftime("%H").to_i
    -days = (tcs.start_date..tcs.end_date).to_a.select {|k| [tcs.day].include?(k.wday)}.size
    -staff_hours[tcs.staff] += hours_per_day * days

  -# Tabla del conteo de horas
  %table.staff_hours
    %thead
      %tr
        %th Docente
        %th Horas impartidas
    %tbody
      -staff_hours.each do |staff, hours|
        %tr
          %td
            =staff.full_name
          %td
            =hours
  %h5.staff_hours
    Horas del curso:
    =staff_hours.values.inject { |a, b| a + b }
  %table.schedule
    %tbody
      %tr.header
        %th Día
        %th Inicio
        %th Fin
        %th Docente
        %th Aula
        %th Comentarios
    - @tc.term_course_schedules.where(:status => TermCourseSchedule::ACTIVE).order("start_date").order("day").order("start_hour").each_with_index do |schedule, index|
      %tr.schedule-item{:id=>"tr_schedule_#{schedule.id}", :schedule_id=>schedule.id}
        %td= schedule.day_name
        %td.centered=  l schedule.start_hour, :format => "%H:%M"
        %td.centered=  l schedule.end_hour, :format => "%H:%M"
        %td= schedule.staff.full_name rescue ''
        %td= "#{schedule.classroom.name rescue 'Sin Elegir'} (#{schedule.classroom.id rescue '-'})"
        - comments = ''
        - if schedule.start_date != @tc.term.start_date 
          - comments += "Inicia: #{l schedule.start_date, :format => :long}. "
        - if schedule.end_date != @tc.term.end_date 
          - comments += "Finaliza: #{l schedule.end_date, :format => :long}"
        %td.small-note= comments

= link_to 'Agregar sesión', '#', :id=>'a-new-schedule'
