%h3= @program.name
#schedule-term= "Ciclo Escolar: #{@term.name} (#{l @term.start_date, :format => :long} – #{l @term.end_date, :format => :long})"
- @items = []
- @program.studies_plan.each do |sp|
  - @items += [[sp.name,sp.id]]
= select "studies-plans-combo-scft", "id", @items
  
#div-courses-assign

:javascript
  $(document).ready(function(){
    $('#studies-plans-combo-scft_id').live("change", function() {
      var val = $('#studies-plans-combo-scft_id').val()
      loadCoursesAssign(#{@program.id},#{@term.id},val);
    });
   
    function loadCoursesAssign(program_id,term_id,studies_plan_id) {
      url = "/programas/" + program_id + "/periodo/" + term_id + "/" + studies_plan_id + "/asignar_cursos";
      $.get(url, {}, function(html) {
        $("#div-courses-assign").html(html);
      }); 
    }

    loadCoursesAssign(#{@program.id},#{@term.id},#{@items[0][1]});
  });
