-if @terms.size > 0 
  %table.terms
    %tbody
      %tr.header
        %th Id 
        %th Clave
        %th Nombre
        %th Inicio
        %th Fin
        %th Entrega Avances Inicio
        %th Entrega Avances Fin
        %th Calificaciones Inicio
        %th Calificaciones Fin
        %th Status
    - @terms.each_with_index do |term, index|
      %tr.term-item{:id=>"tr_term_#{term.id}", :term_id=>term.id}
        %td= term.id
        %td= term.code
        %td= term.name
        %td.centered= l term.start_date, :format => :long
        %td.centered= l term.end_date, :format => :long
        - if !term.advance_start_date.nil?
          %td.centered= l term.advance_start_date, :format => :long
        -else
          %td.centered=""
        - if !term.advance_end_date.nil?
          %td.centered= l term.advance_end_date, :format => :long
        -else
          %td.centered=""
        - if !term.grade_start_date.nil?
          %td.centered= l term.grade_start_date, :format => :long
        -else
          %td.centered=""
        - if !term.grade_end_date.nil?
          %td.centered= l term.grade_end_date, :format => :long
        -else
          %td.centered=""
        %td= term.status_type
