= form_for @user, :remote => true, :html => {:'data-type' => 'html', :id => 'item-edit-form'} do |f|

  :javascript
    $(function() {
      $('#resource-tabs').tabs();
    });


  .resource-header
    .resource-picture
      %img{:src => profile_picture(@user.email), :alt => @user.email}
    .resource-title
      %h1= "#{@user.email}"
      .comment= @user.access_type
    .resource-save
      - if can? :create || :update, @user
        = f.submit 'Actualizar'

  #resource-tabs
    %ul
      %li.first-tab= link_to "Detalles", "#detalles"

    #detalles
      %h2 Detalles
      = hidden_field_tag :user_id, @user.id
      
      .field#field_user_email
        = f.label :email, mark_required(@user, :email) + 'Correo electrónico' 
        = f.text_field :email

      .field#field_user_access
        = f.label :access, mark_required(@user, :access) + 'Tipo de acceso'
        = f.select :access,  User::ACCESS_TYPE.invert.sort {|a,b| a[1] <=> b[1] }

      .field#field_user_status
        = f.label :status, 'Estado'
        = f.select :status,  User::STATUS.invert.sort {|a,b| a[1] <=> b[1] }
      
      .field#field_user_campus
        = f.label :campus_id, 'Campus'
        - q = ["Todos",0]
        - p = @campus.collect{|p|[p.name,p.id]}
        - p.insert(0,q)
        = f.select :campus_id,p

      .field#field_user_program_type
        = f.label :program_type, 'Tipo de Programa'
        - program_types = Program::PROGRAM_TYPE.invert.sort {|a,b| a[1] <=> b[1] }
        - q = ["",""]
        - program_types.insert(0,q)
        = f.select :program_type, program_types
       
      #specific_permissions
        - if @programs
          - @programs.each_with_index do |p,index|
            = fields_for "user[permission_user_attributes][#{index}]" do |f|
              = f.label :program_id, p.name
              - check = false
              - @permissions_user.each do |pu|
                - if pu.program_id == p.id
                  - check = true
                  - break
              = f.check_box :program_id, {:multiple=>false,:checked=>check}, p.id.to_s
              %br
