.div-table.center{:style=>"width: 60%;"}
  .table
    .row
      .header{:style=>"width: 21%;"}="Fecha"
      .header="Cambio"
    .body
      .row
        .cell= "Martes 11 Enero  11:40"
        .cell
          .description
            %b="Se implementa tabla de horas impartidas por cada docente"
            %span.show-details= "detalles"
          .details
            = "En los horarios de cada materia existe una tabla en la que se desglosan las horas impartidas por cada docente, así como las horas totales del curso"
      .row
        .cell= "Martes 9 Enero  14:12"
        .cell
          .description
            %b="Se agrego captura de modificaciones al diseño del plan de estudios"
            %span.show-details= "detalles"
          .details
            = "Es un historial de cambios en el diseño del plan de estudios que se verá reflejado directamente en la plataforma de productividad, para accesar tenemos que entrar a Programas>Planes, seleccionar un plan y en Editar Plan>Modificaciones"
      .row
        .cell= "Jueves 14 Diciembre 14:52"
        .cell
          .description
            %b= "Se modificó el menú para hacerlo mas conciso, dar click en detalles"
            %span.show-details= "detalles"
          .details{:style=>"text-align:justify; font-size: 17px;"}
            = "Las opciones del menú cambiaron de orden y algunas se agruparon para hacerlo mas pequeño, si usted es usuario operador verá las opciones muy similares a las que veia antes, si usted es administrador recibirá un correo con indicaciones específicas, si no ha recibido el correo por favor reportarlo a sistemas o a la siguiente cuenta de correo: enrique.turcott@cimav.edu.mx"
      .row
        .cell= "Miercoles 8 Noviembre 16:26"
        .cell
          .description
            %b= "Se agregó una opción de ordenación para la sección de estudiantes"
            %span.show-details= "detalles"
          .details
            = "Se agregó la ordenación por id, nombre, apellidos y carrera como parte de los filtros de búsqueda, los datos saldrán automáticamente ordenados en el reporte xls"
      .row
        .cell= "Miercoles 1 Noviembre 10:58"
        .cell
          .description
            %b= "Todas las busquedas se deben realizar con un ENTER"
            %span.show-details= "detalles"
          .details
            = "Para evitar que el sistema esté haciendo llamadas innecesarias a la base de datos se ha colocado por default el ENTER en las busquedas, esto puede variar en la pantalla de estudiantes dado que es configurable."

      .row
        .cell= "Martes 31 Octubre 15:43"
        .cell
          .description
            %b= "Se agregó opción de areas de los planes de estudio para las materias de especialización"
            %span.show-details= "detalles"
          .details
            = "Si el plan de estudios pertenece a la maestria aparecerá de forma automática un area definida como transverzal, entonces no es necesario agregarla a la base de datos."
