= form_for Exstudent.new, :remote => true, :html => { :'data-type' => 'html', :id => 'item-new-form' } do |f|
  .resource-header.student-header
    .resource-picture
      = image_tag @student.image_url(:medium).to_s, :id => "img-medium-#{@student.id}"
      %br
    .resource-title
      %h1= "#{@student.full_name} (Nuevo Registro)"
      .comment= "Matrícula: #{@student.card} (#{@student.program.name})"
      .comment
    .resource-save
      - if can? :create, @student
        = f.submit 'Crear'

  #resource-tabs
    %ul
      %li.first-tab= link_to "Datos Personales", "#datos"

    #datos
      %h2= "Datos Personales"
      .field#field_exstudent_date_of_birth
        = f.hidden_field :student_id, {:value => @student.id }
        = label_tag "Fecha de Nacimiento"
        - d = t(:date)
        - if @student.date_of_birth.nil?
          - birthday = "Sin datos de origen"
        - else
          - month    = d[:month_names][@student.date_of_birth.month]
          - birthday = @student.date_of_birth.strftime("%e de #{month} del %Y")
        = text_field_tag "field_date_of_birth", birthday
        = hidden_field_tag "field_date_of_birth", birthday
      .field#field_exstudent_age
        = label_tag "Edad"
        = text_field_tag "field_age", @student.get_age
      .field#field_exstudent_gender
        = label_tag "Género"
        = text_field_tag "field_gender", (@student.gender.eql? 'H')? "Masculino" : "Femenino"
      .field#email
        = f.label :email, "Email"
        = f.text_field :email
      .field#field_phone
        = f.label :phone, "Teléfono"
        = f.text_field :phone
      .field#field_cellphone
        = f.label :cellphone, "Celular"
        = f.text_field :cellphone
