%ul.panel-list
  - c = 0
  - @meeting_agreements.each do |ma|
    - c += 1
    %li
      = link_to ma, :method => :get, :remote => true, :class => 'get-item', :'data-type' => 'html', :id => "c_session_link_#{ma.id}" do
        = "#{ma.id}"
        .comment
          = ma.get_type
        .comment
          = ma.get_status
#counter
  .inner= "#{c} acuerdos"
