:css
  .error-message{
    color: red;
  }
  
  .inputfile{
    width: 0.1px;
    height:0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .inputfile + label{
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #336699;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 8px 25px !important;
    //width: fit-content;
    border-radius: 8px;
    text-align: center;
  }  
  
  .inputfile:focus + label,
  .inputfile + label:hover {
    background-color: #003366;
  }
  
  .tooltiptext{
    font-size: 12px;
    visibility: hidden;
    background-color: #d8e5f3;
    color: black;
    text-align:center;
    border-radius: 6px;   
    padding: 8px 25px !important;
    position: absolute;
    z-index: 1;
  }
  
  .reqdoc_button, .reqdoc_button_download, .reqdoc_button_delete{
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #336699;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 8px 25px !important;
    //width: fit-content;
    border-radius: 8px;
    text-align: center;
  }
  
  .photo-button{
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #336699;
    padding: 8px 25px !important;
    border: none;
    cursor: pointer;
  }
  
  .disabled
  {
    opacity: .3;
    cursor: default;
  }
  
  
  .ui-dialog{
    position: absolute;
    background: white;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 10px;
  }
  
  
  .ui-dialog .ui-dialog-titlebar{
      //background: lightblue;
      font-weight: bold;
      padding: 5px;
      border: 1px solid lightgray;
      border-radius: 6px;
   }
   
   .ui-dialog .ui-dialog-title{
      text: red;
   }
   
   .ui-dialog .ui-dialog-content{
      padding: 20px;
   }
 
   //.ui-dialog .ui-dialog-titlebar-close {
   //  display: none;
   //}
   
   .ui-widget-overlay{
      opacity: .3;
      z-index: 999;
   }
   
  
:javascript
  var my_id;
  function display_status(type,my_id){
    if(type=="ok"){
      $("#img_ok_"+my_id).css("display","inline-block");
      $("#img_load_"+my_id).css("display","none");
      $("#img_fail_"+my_id).css("display","none");
    }
    else if(type=="load"){


      
      //$(".reqdoc_button").prop("disabled","disabled");
      //$(".reqdoc_button_delete").prop("disabled","disabled");
      $("#img_ok_"+my_id).css("display","none");
      $("#img_load_"+my_id).css("display","inline-block");
      $("#img_fail_"+my_id).css("display","none");
      $("#img_load_"+my_id).css("display","inline-block");

    }
    else if(type=="fail"){
      $("#img_ok_"+my_id).css("display","none");
      $("#img_load_"+my_id).css("display","none");
      $("#img_fail_"+my_id).css("display","inline-block");
    }
  }
  
  function files_req_missing(){
    var files_req_missing  =  $(".fields_requested .field_requested_document[required=1] .img-ok:hidden")
    if(files_req_missing.length==0){
      $("#finalize_button").show();
    }else{
      $("#finalize_button").hide();
    }
  }
  
  function changeResourceImage(i_id,image_small,image_medium,image_status){
    
      if (image_status){
        
        $("#img_ok_11").css("display","inline-block");
        $("#img_fail_11").css("display","none");
      }else{
              
        $("#img_ok_11").css("display","none");
        $("#img_fail_11").css("display","inline-block");
      }
      
      files_req_missing()
  }

  $(document).ready(function() {
    $("#photoDialogCenter").dialog({
      resizable:false,
      width: "auto",
      height: "auto",
      modal: false,      
      close: function(){
        $("#my-widget").removeClass("ui-widget-overlay") ;          
      }
    });
  
    $(".ui-dialog-titlebar-close span").removeClass("ui-icon");
    $(".ui-dialog-titlebar-close span").removeClass("ui-icon-closethick");
    $(".ui-dialog-titlebar-close span").attr("aria-hidden","true");
    $(".ui-dialog-titlebar-close span").html("&times;");
    
    $("#photoDialogCenter").dialog('close');
    
    $("#my-widget").removeClass("ui-widget-overlay") ;

    $("#my-widget").click(function(){
      $("#photoDialogCenter").dialog('close');
    });
    
    $(".photo-button").click(function(){
       $("#photoDialogCenter").dialog('open');
       $("#my-widget").addClass("ui-widget-overlay") ;
       return false;
    });
    
  
    $(".reqdoc_button_download").click(function(){
      my_id       = $(this).attr("my_id");
      var my_file_id  = $(this).attr("my_file_id");
      $("#files_iframe2").attr("src","/internados/aspirantes/file/"+my_file_id);
    });

    $(".reqdoc_button_delete").click(function(){
      my_id       = $(this).attr("my_id");
      var my_file_id  = $(this).attr("my_file_id");
      display_status("load",my_id);
      
      $("#files_iframe2").attr("src","/internados/aspirantes/destroy_file/"+my_file_id);
      files_req_missing()
    });



    $(".reqdoc_button").click(function(){
      my_id   = $(this).attr("my_id");
      var form_id = "#internship_file_file_"+my_id;
      var valor = $(form_id).val();

      p      = $(this).parent();
      f_type = p.find("#file_type").val();

      if(f_type==5)
      {
        var myRe = /\dfsdfsadsda$/i;
      }
      else
      {
        var myRe = /(\.pdf$)|(\.jpg)|(\.jpeg)|(\.png)/i;
      }

      if(myRe.test(valor))
      {
        display_status("load",my_id);
        var form_id = "#reqdoc-form-"+my_id;
        $(form_id).submit();
      }else{
        if(f_type==5){
          var myRe = /\.pdf$/i;
          if(myRe.test(valor)){
            alert("Debe ser forzosamente imagen");
          }
          else
          {
            display_status("load",my_id);
            var form_id = "#reqdoc-form-"+my_id;
            $(form_id).submit();
          }
        }
        else
        {
          alert("Solo puedes subir archivos pdf, jpeg, jpg, png");
        }
      }

      files_req_missing()
    });

    $("#files_iframe2").load(function(){
      var sts = $('#files_iframe2').contents().find("status").html();
      var ref = $('#files_iframe2').contents().find("reference").html();

      if(sts=="0")
      {
        errors  = $('#files_iframe2').contents().find("errors").html();
        alert(errors);

        if(ref=="upload"){
          display_status("fail",my_id);
        }
        else if(ref=='destroy')
        {
          display_status("ok",my_id);
        }
      }
      else if(sts=="1")
      {
        if(ref=="upload")
        {
          var new_id = $('#files_iframe2').contents().find("id").html();
          display_status("ok",my_id);
          $("#internship_file_file_"+my_id).css("display","none");
          $("#internship_file_file_label_"+my_id).css("display","none");

          $("#reqdoc_button_"+my_id).css("display","none");
          $("#reqdoc_button_download_"+my_id).css("display","inline-block");
          $("#reqdoc_button_delete_"+my_id).css("display","inline-block");

          $("#reqdoc_button_"+my_id).attr("my_file_id",new_id);
          $("#reqdoc_button_download_"+my_id).attr("my_file_id",new_id);
          $("#reqdoc_button_delete_"+my_id).attr("my_file_id",new_id);
        }
        else if(ref=="destroy")
        {
          display_status("fail",my_id);
          $("#internship_file_file_"+my_id).val("");
          $("#internship_file_file_"+my_id).css("display","inline-block");
          
          $("#internship_file_file_label_"+my_id).html("Seleccionar archivo");
          $("#internship_file_file_label_"+my_id).css("display","inline-block");

          $("#reqdoc_button_"+my_id).css("display","inline-block");
          $("#reqdoc_button_download_"+my_id).css("display","none");
          $("#reqdoc_button_delete_"+my_id).css("display","none");
        }


        $(".reqdoc_button").removeAttr("disabled");
        $(".reqdoc_button_delete").removeAttr("disabled");

       var files_req_missing  =  $(".fields_requested .field_requested_document[required=1] .img-ok:hidden")
    
       if(files_req_missing.length==0){
         $("#finalize_button").show();
       }else{
         $("#finalize_button").hide();
       }

      }
    });

      $('.inputfile').change(function(){
        var filename = $(this).val().split('\\').pop();
        var idname   = $(this).attr('id');                 
        var myid     = idname.split('_').pop();
                
        $('#reqdoc_button_'+myid).removeClass("disabled");
        $('#reqdoc_button_'+myid).removeAttr("disabled");
        
        $('#tooltip_'+idname.split('_').pop()).html(filename);
        $('#'+idname).next().html(filename.slice(0,17));
      });
      
      $('.inputfile+label').mouseover(function(){
        var idname   = $(this).attr('id');
        var tooltip = '#tooltip_'+idname.split('_').pop()
        console.log('|'+tooltip+'|');
        $(tooltip).css("visibility","visible");
      });
      
      $('.inputfile+label').mouseout(function(){
        var idname   = $(this).attr('id');
        var tooltip = '#tooltip_'+idname.split('_').pop()
        console.log(tooltip);
        $(tooltip).css("visibility","hidden");
      });
        
  });


- if @internship.internship_type_id.eql? 11
  #photoDialogCenter
    %iframe{:src=>"/internados/#{@internship.id}/cambiar_foto",:scrolling=>"no",:width=>430,:height=>450,:frameBorder=>0}

%nav.navbar.navbar-dark.bg-white.shadow-lg.p-3.mb-5.rounded.sticky-top
  %a.navbar-brand{:href => "#"}
    %img.d-inline-block.align-top{:alt => "", :height => "30", :src => "https://cimav.edu.mx/wp-content/themes/cimav2017/img/logo-top.png"}
    
.container#applicantFormContent{style:'margin-bottom:2em;'}
  .row
    %h1.text-secondary{style:'font-size:1.9em; padding:1em;'}
      = @title
      %br
      = "[#{@internship.full_name.rstrip.lstrip}]"
 
  .alert.alert-success.terms-groups.text-center{:role=>"alert",:style=>"display:none;"}
    %strong= "El registro se ha realizado correctamente!"
  
  .alert.alert-primary.col-sm.recomm.text-center{:role=>"alert"}
    = "Se recomienda utilizar archivos menores de 20MB"
      
  .card.border-light
    .card-body.terms{:style=>"display:none;"}
      = "El registro se ha realizado correctamente, espere instrucciones por correo."
  
  .row
    .fields_requested.table-responsive
      %table.table
        %thead
          %tr
            %th="#"
            %th="Descripción"
            %th="Controles"
            %th="Estatus"
        %tbody     
          - counter = 1
          - @req_docs.each do |key, value|
            - if  @internship_files.where(:file_type=>key).size > 0
              - @internship_files.where(:file_type=>key).each do |af|
                - required= 1

                %tr.field_requested_document{:required=>required}
                  - my_id = key
                  = form_for(InternshipFile.new, :url => {:action => "upload_file_register"}, :html => {:id => "reqdoc-form-#{my_id}", :multipart=> true,:target=>'files_iframe2'}) do |f|
                    = hidden_field_tag :internship_id, @internship.id
                    = hidden_field_tag :file_type, my_id
                    %td= counter
                    - counter = counter + 1
                    %td
                      %b= label_tag value
                    %td
                      - if key.eql? 11 
                        = button_tag "Seleccionar fotografía", :type=>"button", :class=>"photo-button", :id=>"photo_button_#{my_id}"

                      - else
                        = f.file_field :file,:id=>"internship_file_file_#{my_id}",:class=>"inputfile"
                        = label_tag "internship_file_file_#{my_id}", "Seleccionar archivo",:id=>"internship_file_file_label_#{my_id}", :style=>"display: none;"
                        .tooltiptext{:id=>"tooltip_#{my_id}"}= "Seleccionar archivo"
                        = button_tag @t[:upload_file], :type=>'button', :class=>'reqdoc_button', :my_id=>"#{my_id}", :id=>"reqdoc_button_#{my_id}", :style=>"display:none;"
                        - if !@register
                          = button_tag "Descargar Archivo", :type=>'button', :class=>'reqdoc_button_download', :my_id=>"#{my_id}", :id=>"reqdoc_button_download_#{my_id}",:my_file_id=> af.id
                          = button_tag @t[:delete_file], :type=>'button', :class=>'reqdoc_button_delete', :my_id=>"#{my_id}", :id=>"reqdoc_button_delete_#{my_id}",:my_file_id=> af.id

                    %td              
                      = image_tag "fail_40px.png", :id=> "img_fail_#{my_id}" , :style=>'display: none;', :class=>"class-img-top"
                      = image_tag "/images/ajax-load2.gif", :id=> "img_load_#{my_id}" , :style=>'display: none;',:class=>"class-img-top"
                      = image_tag "ok_40px.png", :id=> "img_ok_#{my_id}" , :class=>"img-ok"

            - else
              - required= 1
              %tr.field_requested_document{:required=>required}
                - my_id = key
                = form_for(InternshipFile.new, :url => {:action => "upload_file_register"}, :html => {:id => "reqdoc-form-#{my_id}", :multipart=> true,:target=>'files_iframe2'}) do |f|
                  = hidden_field_tag :internship_id, @internship.id
                  = hidden_field_tag :file_type, my_id
                  = hidden_field_tag :my_file_id, 0
                  %td= counter
                  - counter = counter + 1
                  %td
                    %b= label_tag value
                  %td
                    - if key.eql? 11 
                      = button_tag "Seleccionar fotografía", :type=>"button", :class=>"photo-button", :id=>"photo_button_#{my_id}"

                    - else            
                      - if !(my_id.eql? 6)
                        = f.file_field :file,:id=>"internship_file_file_#{my_id}",:class=>"inputfile"
                        = label_tag "internship_file_file_#{my_id}","Seleccionar archivo",:id=>"internship_file_file_label_#{my_id}"
                        .tooltiptext{:id=>"tooltip_#{my_id}"}= "Seleccionar archivo"
                        = button_tag @t[:upload_file], :type=>'button', :class=>'reqdoc_button', :my_id=>"#{my_id}", :id=>"reqdoc_button_#{my_id}"
                      - if !@register  
                        = button_tag "Descargar Archivo", :type=>'button', :class=>'reqdoc_button_download', :my_id=>"#{my_id}", :id=>"reqdoc_button_download_#{my_id}", :style=>'display: none;', :my_file_id=>0
                        = button_tag @t[:delete_file], :type=>'button', :class=>'reqdoc_button_delete', :my_id=>"#{my_id}", :id=>"reqdoc_button_delete_#{my_id}", :style=>'display:none;', :my_file_id=> 0
                  %td
                    = image_tag "fail_40px.png", :id=> "img_fail_#{my_id}" ,:align=> 'center'
                    = image_tag "/images/ajax-load2.gif", :id=> "img_load_#{my_id}" , :align=> 'center',:style=>'display: none;'
                    = image_tag "ok_40px.png", :id=> "img_ok_#{my_id}" , :align=> 'center', :style=>'display: none',:class=>"img-ok"
      .row
        .col.text-center
          = hidden_field_tag "itoken",params[:token]
          = button_tag "Finalizar Registro", :type=>'button',:id=>"finalize_button"
                    
  %iframe{"name" => "files_iframe2", "id" => "files_iframe2" ,:style=> "display: none;"}
  
    
:javascript
  $(window).load(function(){
    files_req_missing();
  });
  