%html
  %head
    %title= 'ID CARD'
  %body
    #id_card
      %br=""
      %hr
      = image_tag "http://posgrado.cimav.edu.mx/assets/#{@internship.internship_type.id}.jpg", :style => "width: 108%;"
      %hr
      %br=""
      %table#cont
        %tr
          %td.photo
            = image_tag "http://posgrado.cimav.edu.mx#{@internship.image_url.to_s}"
          %td
            %table#data
              %tr
                %td
                  #card_name= "#{@internship.first_name} #{@internship.last_name}"
              %tr
                %td
                  #card_start_date= "Fecha de Ingreso: #{l @internship.start_date, :format => :long}"
              %tr
                %td
                  #card_valid= "Vigencia: #{l @internship.end_date, :format => :long}"
              %tr
                %td
                  #card_card= "ID: #{@internship.id}"

        %tr
          %td{:colspan => 2}
            %br
        %tr
          %td{:colspan => 2}
            %br

      %hr
      %h1= "Programa de Promoción de Vocaciones Científicas"
      %hr
      %br=""
      %br=""
      %br=""
      %br=""

    .pb_before2
      %table#card-back
        %tr
          %td
            %table#student-data
              %tr
                %td{:colspan => 2}
                  %hr.black
              %tr
                %td.cimav-data{:colspan =>2}
                  %div= "La información presentada en este documento es responsabilidad del interesado #{@internship.full_name} y se basa en una autorización escolar de la institución de procedencia: #{@internship.institution.name}."
              %tr
                %td{:colspan => 2}
                  %hr.black
              %tr
                %td.empty{:colspan => 2}
              %tr
                %td.cimav-data{:colspan => 2}
                  %div= "Centro de Investigación en Materiales Avanzados, S.C."
                  %div= "Miguel de Cervantes 120, Complejo Industrial Chihuahua"
                  %div= "Chihuahua, Chih. México. 31109"
                  %div= "Tels. +52 (614) 439-1161, 439-1158"
                  %div= "Registro Institucional SEP: 18 - 00114"
