- @include_js = 'internships'
- @page_title = 'Servicios CIMAV'
- @nav_icon = 'internships'
- @include2_js = 'select2'
- @include3_js = 'select2_locale_es'
- @include_css = Array.new
- @include_css = 'select2/select2'

#items-panel.side-panel
  .panel-search{:style=>'height: 230px;'}
    = form_tag internships_path, :id => 'live-search', :method => 'get', :remote => true do
      - area_options = "<option value=\"0\">Todas las areas</option>"
      - @areas.each do |area|
        - area_options += "<option value=\"#{area.id}\">#{area.name}</option>"
      = select_tag "area_s", area_options.html_safe

      - internship_type_options = "<option value=\"0\">Todas los tipos</option>"
      - @internship_types.each do |internship_type|
        - internship_type_options += "<option value=\"#{internship_type.id}\">#{internship_type.name}</option>"
      = select_tag "internship_type", internship_type_options.html_safe

      - institution_options = "<option value=\"0\">Todas las instituciones</option>"
      - @institutions.each do |institution|
        - institution_options += "<option value=\"#{institution.id}\">#{institution.name}</option>"
      = select_tag "institution", institution_options.html_safe

      - staff_options = "<option value=\"0\">Todas los responsables</option>"
      - @staffs.each do |staff|
        - staff_options += "<option value=\"#{staff.id}\">#{staff.full_name}</option>"
      = select_tag "staff", staff_options.html_safe

      - campus_options = "<option value=\"0\">Todos los campus</option>"
      - @campus.each do |camp|
        - campus_options += "<option value=\"#{camp.id}\">#{camp.name}</option>"
      = select_tag "campus", campus_options.html_safe
      
      - year_options = "<option value=\"0\" selected=\"selected\">Todos los años</option>"
      - year_options += "<option value=\"1\">Los últimos 2 años</option>"

      - @years.reverse.each_with_index do |y,index|
        - year_options += "<option value=\"#{y}\">#{y}</option>"
          
      = select_tag "year", year_options.html_safe

      = text_field_tag :q, nil, :id => 'search-box', :placeholder => 'Busqueda'

      .cbs{:style=>"padding-top: 7px;"}
        %span
          = check_box_tag 'status_activos', '0', true, :class => 'status-cbs'
          = label_tag 'status_activos', 'Activos'
        %span
          = check_box_tag 'status_finalizados', '1', false, :class => 'status-cbs'
          = label_tag 'status_finalizados', 'Finalizados'
        %span
          = check_box_tag 'status_inactivos', '2', false, :class => 'status-cbs'
          = label_tag 'status_inactivos', 'Baja'
        %br
        %span
          = check_box_tag 'status_solicitudes', '3', false, :class => 'status-cbs'
          = label_tag 'status_solicitudes', 'Solicitudes'
        %span
          = check_box_tag 'status_order', '4', false, :class => 'status-cbs'
          = label_tag 'status_order', 'Ordenar por fecha de registro'

  #items-list.panel-items{:style=>'top:250px'}

  .panel-add
    - if can? :create, Internship
      = link_to  'Agregar nuevo servicio', {:action => 'new'},  {:id => 'add-new-item', :method => :get, :remote => true, :'data-type' => 'html'}
    %a{'id' => 'to_excel'} XLS


#content-panel.main-panel
