= form_for @internship, :remote => true, :html => {:'data-type' => 'html', :id => 'item-edit-form'} do |f|

  :javascript
    $(function() {
      $('#resource-tabs').tabs();
      $("#change-img-dialog").remove();
      $('#content-panel').append('<div title="Cambiar fotografía" id="change-img-dialog"><iframe width="430" height="450" src="/internados/#{@internship.id}/cambiar_foto" scrolling="no"></iframe></div>');
      $("#change-img-dialog").dialog({ autoOpen: false, width: 470, height: 550, modal:true });
      $("#a-change-image").live("click", function() {
        $("#change-img-dialog").dialog('open');
      });

      $(document).ready(function() {
        $('.reqdoc_button').click(function(){
          var c_type = $(this).attr("c_type");
          var iid    = $(this).attr("internship_id");
          var siid  = $("input[name='firma']:checked").val();

          if(siid==undefined){alert("Debe elegir un firmante"); return false;}

          window.location.href="internados/constancias/"+c_type+"/"+iid+"/"+siid;
        });

        $('#iapplicant_staff').select2();

      });
    });


  .resource-header
    .resource-picture
      = image_tag @internship.image_url(:medium).to_s, :id => "img-medium-#{@internship.id}"
      %br
      = link_to 'Cambiar foto', '#', :id=>'a-change-image'
    .resource-title
      %h1= "#{@internship.first_name} #{@internship.last_name}"
      .comment= @internship.institution.name rescue ""
      .comment= "ID: #{@internship.id}"
      .resource-card
        = link_to 'Credencial', "/internados/#{@internship.id}/credencial.pdf", :id=>'a-id-card'
    .resource-save
      - if can? :create || :update, @internship
        = f.submit 'Actualizar'

  #resource-tabs
    %ul
      %li.first-tab= link_to "Detalles", "#detalles"
      %li= link_to "Contacto", "#contacto"
      %li= link_to "Archivos", "#archivos"
      %li= link_to "Documentos", "#documentos"
      %li= link_to "Notas", "#notas"
      %li= link_to "Constancias", "#constancias"
      %li= link_to "Seguimiento de ingreso", "#seguimiento"

    #detalles
      %h2 Detalles

      .field#field_internship_internship_type_id
        = f.label :internship_type_id, mark_required(@internship, :internship_type_id) + 'Tipo'
        = f.collection_select :internship_type_id, @internship_types, :id, :name, options = {:prompt => "Selecciona el tipo"}

      .field#field_internship_area_id
        = f.label :area_id, mark_required(@internship, :area_id) + 'Area'
        = f.collection_select :area_id, @areas, :id, :name, options = {:prompt => "Selecciona el area"}

      .field#field_internship_first_name
        = f.label :first_name, mark_required(@internship, :first_name) + 'Nombre'
        = f.text_field :first_name

      .field#field_internship_last_name
        = f.label :last_name, mark_required(@internship, :last_name) + 'Apellidos'
        = f.text_field :last_name
      

      .field#field_internship_email
        = f.label :email, 'Correo Electrónico'
        = f.email_field :email
 
      .field#field_internship_phone
        = f.label :phone, 'Teléfono de contacto'
        = f.text_field :phone

      - if @internship.institution_id.to_i != 1
        .field#field_internship_institution_id
          = f.label :institution_id, 'Institucion'
          = f.collection_select :institution_id, @institutions, :id, :name, options = {:prompt => "Selecciona la institucion"}

      .field#field_internship_career
        = f.label :career,'Carrera'
        = f.text_field :career,:size=>100

      .field#field_control_number
        = f.label :control_number, 'No. de Control'
        = f.text_field :control_number, :size=>100

      .field#field_internship_start_date
        = f.label :start_date, 'Fecha de inicio'
        = f.date_select :start_date

      .field#field_internship_end_date
        = f.label :end_date, 'Fecha de termino'
        = f.date_select :end_date

      .field#field_internship_staff_id
        = f.label :staff_id, 'Docente responsable'
        = f.collection_select :staff_id, @staffs, :id, :full_name, options = {:prompt=> "Selecciona el responsable"}
      .field#field_internship_campus
        = f.label :campus_id, 'Campus'
        - q = ["Ninguno",0]
        - p = @campus.collect{|p|[p.name,p.id]}
        - p.insert(0,q)
        = f.select :campus_id,p

      .field#field_internship_office
        = f.label :office,'Departamento'
        = f.text_field :office,:size=>100

      .field#field_internship_total_hours
        = f.label :total_hours,'Horas totales'
        = f.text_field :total_hours,:size=>5

      .field#field_internship_schedule
        = f.label :schedule,'Horario'
        = f.text_field :schedule,:size=>100

      .field#field_internship_gender
        = f.label :gender, 'Sexo'
        = f.select :gender,  [['Hombre', 'H'], ['Mujer', 'F']]

      .field#field_internship_date_of_birth
        = f.label :date_of_birth, 'Fecha de nacimiento'
        = f.date_select :date_of_birth, :start_year => DateTime.now.year - 80

      .field#field_internship_country_id
        = f.label :country_id, 'País de nacimiento'
        = f.collection_select :country_id, @countries, :id, :name, options = {:prompt => "Selecciona un país"}


      .field#field_internship_state_id
        = f.label :state_id, 'Estado de Nacimiento'
        = f.collection_select :state_id, @states, :id, :name, options = {:prompt => "Selecciona un estado"}

      .field#field_internship_thesis_title
        = f.label :thesis_title, 'Tesis'
        = f.text_field :thesis_title

      .field#field_internship_grade
        = f.label :grade, 'Puntuación'
        = f.text_field :grade

      .field#field_internship_activities
        = f.label :activities, 'Actividades a desempeñar'
        = f.text_area :activities

      .field#field_internship_status
        = f.label :status, 'Estado'
        = f.select :status,  Internship::STATUS.invert.sort {|a,b| a[1] <=> b[1] }

      - if @internship.status.to_i.eql? 3
        .field#field_internship_applicant_status
          = f.label :applicant_status, 'Estado de Aspirante'
          = f.select :applicant_status,  Internship::APPLICANT_STATUS.invert.sort {|a,b| a[1] <=> b[1] }

      .field#field_internship_health_insurance
        = f.label :health_insurance, 'Servicio médico'
        = f.text_field :health_insurance
  
      .field#field_internship_health_insurance_number
        = f.label :health_insurance_number, 'Número de afiliación'
        = f.text_field :health_insurance_number
  
      .field#field_internship_health_insurance_number
        = f.label :accident_contact, "Avisar en caso de accidente"
        = f.text_field :accident_contact


    #contacto
      %h2 Contacto
      = f.fields_for :contact do |contact_fields|
        = render :partial => 'shared/contact', :locals => {:table => 'internship', :fields => contact_fields, :countries => @countries, :states => @states}

    #archivos
      %h2 Archivos
      %iframe{"name" => "submit_iframe", "id" => "files_iframe", "width" => "100%", "height" => "250", "src" => "/internados/#{@internship.id}/archivos", "scrolling" => "yes", "onLoad" => "calcFrameHeight(this.id);" }
    
    #documentos
      %h2 Documentos
      %iframe{"name" => "files_iframe", "id" => "files_iframe", "width" => "100%", "height" => "750", "src" => "/internados/aspirantes/#{@internship.id}/archivos", "scrolling" => "no", :frameborder=>"0"}

    #constancias
      %h2 Constancias
      .field_requested_document#field_requested_document_0{:style=>"width:600px; height:40px;"}
        = label_tag 'Carta de aceptación'
        = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"aceptacion",:internship_id=>@internship.id
      .field_requested_document#field_requested_document_1{:style=>"width:600px; height:40px;"}
        = label_tag 'Carta de liberación'
        = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"liberacion",:internship_id=>@internship.id
      .field_requested_document#field_requested_document_2{:style=>"width:600px; height:40px;"}
        = label_tag 'Carta de uso de información'
        = button_tag "Generar", :type=>"button", :class=>'reqdoc_button', :c_type=>"uso",:internship_id=>@internship.id
      .radioDiv
        - dir     = t(:directory)
        - checked = false
        %br
        %b= "Firmantes:" 
        %br
        %br
        - if current_user.access.eql? 2
          - if @internship.staff.nil?
            = "Hay que asignar un responsable o no se podrán imprimir las constancias"
          - else
            - if @internship.area_id.nil? 
              = "El reponsable no tiene asignada un area"
            - else
              - a = Area.find(@internship.area_id)
              = radio_button_tag "firma", 6, true, class: "radio-button-sign"
              = a.leader
              = "(#{a.name})"
        - else
          %br
            -# if current_user.campus_id.to_i.eql? 0
              -# checked = true
            = radio_button_tag "firma", 1, false, class: "radio-button-sign"
            = "#{dir[:academic_director][:title]} #{dir[:academic_director][:name]}"
            = "(#{dir[:academic_director][:job]})"
          %br
            - if current_user.campus_id.to_i.eql? 0
              - checked = true
            - if !(dir[:posgrado_chief].nil?)
              = radio_button_tag "firma", 2, checked, class: "radio-button-sign"
              - checked = false
              = "#{dir[:posgrado_chief][:title]} #{dir[:posgrado_chief][:name]}"
              = "(#{dir[:posgrado_chief][:job]})"
          - if (current_user.campus_id == 1 || current_user.campus_id==0)
            %br
              - if current_user.campus_id.to_i.eql? 1
                - checked = true
              = radio_button_tag "firma", 3, checked, class: "radio-button-sign"
              - checked = false
              = "#{dir[:scholar_control][:title]} #{dir[:scholar_control][:name]}"
              = "(#{dir[:scholar_control][:job]})"
          - if (current_user.campus_id == 2 || current_user.campus_id==0)
            %br
              - if current_user.campus_id.to_i.eql? 2
                - checked = true
              = radio_button_tag "firma", 4, checked, class: "radio-button-sign"
              - checked = false
              = "#{dir[:academic_coordinator_monterrey][:title]} #{dir[:academic_coordinator_monterrey][:name]}"
              = "(#{dir[:academic_coordinator_monterrey][:job]})"
          - if (current_user.campus_id == 4 || current_user.campus_id==0)
            %br
              - if current_user.campus_id.to_i.eql? 4
                - checked = true
              = radio_button_tag "firma", 5, checked, class: "radio-button-sign"
              - checked = false
              = "#{dir[:academic_coordinator_durango][:title]} #{dir[:academic_coordinator_durango][:name]}"
              = "(#{dir[:academic_coordinator_durango][:job]})"


    #notas
      %h2 Notas
      = f.text_area :notes

    #seguimiento
      %h2 Seguimiento de Ingreso
      - if @token.size>0
        %a{:href=>"/internados/aspirante/#{@internship.id}/formato/#{@token[0].token}"}="Formato de registro"
      %br=""
      - counter = 1
      %table{:width=>'70%',:align=>'left'}
        - @applicant_log.each do |a|
          - a_h = eval(a.activity)
          - colore='#E0ECF8'
          - if (counter%2).eql? 0
            - colore = '#FFFFFF'
          %tr{:bgcolor=>colore}
            %td{:width=>'50px'}= counter
            %td= a_h[:activity]
            %td= a.created_at
          - counter = counter + 1

      %p=""
      %br=""
      %br=""
      %br=""

      - @display = "display: none;"
      - if @internship.status.to_i.eql? 3
        - @display = "display: block;"
      - else

      =hidden_field_tag "aplicant_id",@internship.id
      %table{:width=>'40%',:align=>'left',:style=>@display}
        %tr
          %td{:colspan=>2}=text_area_tag :iapplicant_contenido, nil, :cols=>45, :rows=>5
        %tr
          %td{:align=>:left,:width=>'140px'}="Fecha de reunion:"
          %td{:align=>:left}
            =select_date Time.now
            =select_tag "date_hour", options_for_select(0..23)
            =":"
            =select_tag "date_minutes", options_for_select(0..59)
        %tr
          %td{:align=>:left,:width=>'140px'}="Recibe:"
          %td{:align=>:left}=select_tag :iapplicant_staff, options_from_collection_for_select(@staffs, "id", "full_name")
        %tr
          %td{:colspan=>2}
            = button_tag "Responder", :id=>"iapplicant_button", :type=>'button'
            = image_tag "/images/ajax-load2.gif", :id=> "img_load" , :align=> 'center',:style=>'display: none;'
