- counter = 0
.field#field_student_supervisor
  = label_tag "Director"
  - if @student.staff_supervisor.nil?
    - text = "No tiene asignado director"
  - else
    - text = @student.staff_supervisor.full_name rescue "N.D." 
    - counter = counter + 1

  = text_field_tag "director", text, :size=>30, :disabled=>true
  = hidden_field_tag :director_id, (@student.staff_supervisor.id rescue 0)
.field#field_student_thesis_title
  = label_tag "Tesis"
  - if @student.thesis.title.blank?
    - text = "Sin tesis"
  - else
    - text = @student.thesis.title
    - counter = counter + 1
  = text_field_tag "title", text, :size=>"70", :disabled=>true
  = hidden_field_tag :thesis_id, (@student.thesis.id rescue 0)

- if counter.eql? 2
  .field#field_student_advance_0_status
    = label_tag 'advance[status]', 'Estado'
    = select_tag 'advance[status]',  options_for_select([['Programada', 'P'], ['Concluida', 'C'], ['Cancelada', 'X']]), :prompt => "Selecciona un estatus"
   
  .field#field_student_advance_0_advance_date
    = label_tag 'advance[advance_date]', 'Fecha de presentacion'
    = text_field_tag 'advance[advance_date]'
  
  .field#field_student_advance_0_tutor1
    = label_tag 'advance[tutor1]', 'Comite Tutoral 1'
    = select_tag 'advance[tutor1]', options_from_collection_for_select(@staffs, :id, :full_name), :prompt=> "Selecciona un tutor"
  
  .field#field_student_advance_0_tutor2
    = label_tag 'advance[tutor2]', 'Comite Tutoral 2'
    = select_tag 'advance[tutor2]', options_from_collection_for_select(@staffs, :id, :full_name), :prompt=> "Selecciona un tutor"
  
  .field#field_student_advance_0_tutor3
    = label_tag 'advance[tutor3]', 'Comite Tutoral 3'
    = select_tag 'advance[tutor3]', options_from_collection_for_select(@staffs, :id, :full_name), :prompt=> "Selecciona un tutor"
  
  .field#field_student_advance_0_tutor4
    = label_tag 'advance[tutor4]', 'Comite Tutoral 4'
    = select_tag 'advance[tutor4]', options_from_collection_for_select(@staffs, :id, :full_name), :prompt=> "Selecciona un tutor"
  
  .field#field_student_advance_0_tutor5
    = label_tag 'advance[tutor5]', 'Comite Tutoral 5'
    = select_tag 'advance[tutor5]', options_from_collection_for_select(@staffs, :id, :full_name), :prompt=> "Selecciona un tutor"
  
  .field#field_student_advance_0_notes
    = label_tag 'advance[notes]', 'Notas'
    = text_area_tag 'advance[notes]',nil,:rows=>5,:cols=>60
- else
  = "No cumple con los requisitos"

:javascript
  $(document).ready(function(){
    $('#advance_tutor1').select2();
    $('#advance_tutor2').select2();
    $('#advance_tutor3').select2();
    $('#advance_tutor4').select2();
    $('#advance_tutor5').select2();
  });
