= form_tag "seminarios/editar/#{@advance.id}", :remote => true, :id => 'item-new-form' do
  - adv = @advance  
  .resource-header
    .resource-title
      %h2= "Seminario Departamental [#{@advance.id}]"
    .resource-save
      = submit_tag 'Guardar',:id=>"submit_seminar"
  
  #resource-tabs
    %ul
      %li.first-tab= link_to "Datos Generales","#nuevo"
 
    #nuevo
      .field#field_student_id
        = label_tag :student_id, 'Alumno'
        = text_field_tag "student", @advance.student.full_name, :readonly=>true, :style=>"width: 350px"
        = hidden_field_tag 'advance[student_id]', @advance.student_id
      .field#field_student_supervisor
        = label_tag "Director"
        - text = @advance.student.staff_supervisor.full_name rescue "N.D." 
        = text_field_tag "director", text, :readonly=>true, :style=>"width: 350px"
        = hidden_field_tag :director_id, (@advance.student.staff_supervisor.id rescue 0)
      .field#field_student_thesis_title
        = label_tag "Tesis"
        = text_field_tag 'advance[title]', @advance.title, :style=>"width: 1000px"
      .field#field_student_advance_0_status
        = label_tag 'advance[status]', 'Estado'
        = select_tag 'advance[status]',  options_for_select([['Programada', 'P'], ['Concluida', 'C'], ['Cancelada', 'X']],@advance.status), :prompt => "Selecciona un estatus"
      .field#field_student_advance_0_advance_date
        = label_tag 'advance[advance_date]', 'Fecha de presentacion'
        = text_field_tag 'advance[advance_date]', @eadvance, :readonly=>true
        = select_tag :session_hour,options_for_select(("00".."23").to_a,@ehour), :prompt=> "--"
        = ":"
        = select_tag :session_minutes,options_for_select(("00".."59").to_a,@eminutes), :prompt=> "--"

      .field#field_student_advance_0_tutor1
        = label_tag 'advance[tutor1]', 'Comite Tutoral 1'
        = select_tag 'advance[tutor1]', options_from_collection_for_select(@staffs, :id, :full_name,@advance.tutor1), :prompt=> "Selecciona un tutor"
        = link_to 'Formato', "/estudiantes/seminario/#{adv.id}/#{adv.tutor1}", :target=> "_blank"
      .field#field_student_advance_0_tutor2
        = label_tag 'advance[tutor2]', 'Comite Tutoral 2'
        = select_tag 'advance[tutor2]', options_from_collection_for_select(@staffs, :id, :full_name,@advance.tutor2), :prompt=> "Selecciona un tutor"
        = link_to 'Formato', "/estudiantes/seminario/#{adv.id}/#{adv.tutor2}", :target=> "_blank"
      .field#field_student_advance_0_tutor3
        = label_tag 'advance[tutor3]', 'Comite Tutoral 3'
        = select_tag 'advance[tutor3]', options_from_collection_for_select(@staffs, :id, :full_name,@advance.tutor3), :prompt=> "Selecciona un tutor"
        = link_to 'Formato', "/estudiantes/seminario/#{adv.id}/#{adv.tutor3}", :target=> "_blank"
      .field#field_student_advance_0_tutor4
        = label_tag 'advance[tutor4]', 'Comite Tutoral 4'
        = select_tag 'advance[tutor4]', options_from_collection_for_select(@staffs, :id, :full_name,@advance.tutor4), :prompt=> "Selecciona un tutor"
        = link_to 'Formato', "/estudiantes/seminario/#{adv.id}/#{adv.tutor4}", :target=> "_blank"
      .field#field_student_advance_0_tutor5
        = label_tag 'advance[tutor5]', 'Comite Tutoral 5'
        = select_tag 'advance[tutor5]', options_from_collection_for_select(@staffs, :id, :full_name,@advance.tutor5), :prompt=> "Selecciona un tutor"
        = link_to 'Formato', "/estudiantes/seminario/#{adv.id}/#{adv.tutor5}", :target=> "_blank"
      .field#field_student_advance_0_notes
        = label_tag 'advance[notes]', 'Notas'
        = text_area_tag 'advance[notes]',@advance.notes,:rows=>5,:cols=>60

:javascript
  $(document).ready(function(){
    $('#advance_tutor1').select2();
    $('#advance_tutor2').select2();
    $('#advance_tutor3').select2();
    $('#advance_tutor4').select2();
    $('#advance_tutor5').select2();

    $('#session_hour').select2();
    $('#session_minutes').select2();
    start_datepicker();
  });
