%br
- if @logs.blank?
  %h3.centered= " No hay logs registrados"
-else 
.div-table{:style=>"width: 50%;"}
  .table
    .row
      .header{:style=>"width: 5%;"}="#"
      .header="Usuario"
      .header="Fecha"
      .header="Acción"
    .body
      - counter = 1
      - @logs.each do |l|
        .row
          .cell= counter
          .cell= l.user.email rescue "N.D."
          .cell= "#{l l.updated_at, :format => :long}".html_safe
          .cell= l.activity
          -counter = counter + 1
