- @page_title = 'Reportes'
- @nav_icon = 'applicants'
- @include2_js = 'select2'
- @include_css = 'select2/select2'
#content-panel.main-panel
  %h3="Docentes"
  %ul
    %li
      = link_to 'Número de alumnos graduados y eficiencia terminal','/docentes/reporte.xls'
      = "[XLS]"
    %li
      %br
      = link_to 'Evaluación docente al momento', {:controller=>"staffs", :action=>"evaluation",:format=>:xls}, :id=>"link_evaluation"
      = "[XLS]"
      =#{}"&nbsp;".html_safe
      =# check_box_tag "check_numeric_evaluation"
      =# " Numérico "

  #teacherEvaluationReport
    %p Evaluación docente
    =select_tag "teacher_evaluation_staff_id", options_from_collection_for_select(@staffs, "id", "full_name"), prompt:'Elija un docente', style:'min-height:200px;'
    =select_tag "teacher_evaluation_term_course_id", ''
    %button#teacherEvaluationButton{onclick:"getTeacherEvaluation();", :disabled=> true} Descargar

:javascript
  $(document).ready(function() {
    $('#teacher_evaluation_staff_id').select2();
    $('#teacherEvaluationButton').prop('disabled',true);
    $("#check_numeric_evaluation").live("click",function(){
      var _href = $("#link_evaluation").attr("href");
      if($(this).prop("checked")){
        $("#link_evaluation").attr("href",_href + "?numeric=1");
     }else{
        $("#link_evaluation").attr("href",_href.replace("?numeric=1",""));
     }
    });
  });


  $('#teacher_evaluation_staff_id').change(function() {
    $('#teacherEvaluationButton').prop('disabled',true);
    var term_course_select = $('#teacher_evaluation_term_course_id');
    $.get( 'reportes/get_term_courses/'+$(this).val(), function( data ) {
      term_course_select.html('');
      if (data.length > 0){
        term_course_select.show();
        $('#teacherEvaluationButton').prop('disabled',false);
        $.each(data, function (key, entry) {
          term_course_select.append($('<option></option>').attr('value', entry.term_course_id).text(entry.term_course_name));
        })
      }else{
        term_course_select.hide();
      }
      console.log(data);

    });
  });

  function getTeacherEvaluation() {
    window.open("/docentes/reporte/evaluacion?"+$.param({staff_id: $('#teacher_evaluation_staff_id').val(), term_course_id: $('#teacher_evaluation_term_course_id').val()}));
  }
