!!!
%html
  %head
    %title= @page_title || 'CIMAV'
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
    = stylesheet_link_tag    "application"
    - if !@include_css.nil?
      = stylesheet_link_tag @include_css
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.ui.datepicker.js"
    = javascript_include_tag "jquery.ui.datepicker-es.js"
    - if !@include_js.nil?
      = javascript_include_tag @include_js, :charset=>"UTF-8"
    - if !@include2_js.nil?
      = javascript_include_tag @include2_js, :charset=>"UTF-8"
    - if !@include3_js.nil?
      = javascript_include_tag @include3_js, :charset=>"UTF-8"
    - if !@include4_js.nil?
      = javascript_include_tag @include4_js, :charset=>"UTF-8"
    = csrf_meta_tag
    - reports_access = false
    - if current_user.access.in? [User::ADMINISTRATOR, User::MANAGER, User::OPERATOR_READER]
      - reports_access = true
  %body
    #top-bar
      #logo
        = image_tag "logo.png"
      #nav-select
        ="Posgrado CIMAV"
        %i.material-icons="play_arrow"
      -# Criterio 1: Posición en el ciclo del proceso de posgrado
      -# Criterio 2: Alfabético
      #nav-system-menu
        %ul.main-nav
          %li.header-nav
            %a
              = @page_title
              %i.material-icons.md-18="expand_more"
            %ul.body-nav
              %li= link_to "Inicio", root_url
              - if can? :read, CommitteeSession
                %li= link_to "Comité de Estudios de Posgrado", "/comite"
              - if can? :read, Program
                %li= link_to "Programas", programs_path
              - if can? :read, Staff
                %li= link_to "Docentes", staffs_path
              - if can? :read, Applicant
                %li= link_to "Aspirantes", applicants_path
              - if can? :read, Student
                %li= link_to "Estudiantes", students_path
              - if can? :read, Graduate
                %li= link_to "Seguimiento de Egresados", exstudents_path         
             
              %li.li-tree-nav
                %a.tree-nav{:menu_counter=>0}
                  ="Catálogos"
                  %i.material-icons.md-18="chevron_right"
                %ul
                  - counter = 0
                  - if can? :read, Area
                    %li= link_to "Areas Departamentales", areas_path
                    - counter = counter + 1
                  - if can? :read, StudiesPlanArea
                    %li= link_to "Areas de Especialidad", studies_plan_areas_path
                    - counter = counter + 1
                  - if can? :read, Campus
                    %li= link_to "Campus", campus_path
                    - counter = counter + 1
                  - if can? :read, Department
                    %li= link_to "Departamentos", departments_path
                    - counter = counter + 1
                  - if can? :read, Institution
                    %li= link_to "Instituciones", institutions_path
                    - counter = counter + 1
                  - if can? :read, Laboratory
                    %li= link_to "Laboratorios", laboratories_path
                    - counter = counter + 1
                  - if can? :read, Classroom
                    %li= link_to "Salones", classrooms_path
                    - counter = counter + 1
                  - if can? :read, ScholarshipCategory
                    %li= link_to "Tipos de Becas", scholarship_categories_path
                    - counter = counter + 1
                  - if can? :read, InternshipType
                    %li= link_to "Tipos de Servicios CIMAV", internship_types_path
                    - counter = counter + 1
                  - if can? :read, User 
                    %li= link_to "Usuarios", users_path
                  - if counter.eql? 0
                    :javascript
                      $(".tree-nav:contains('Catálogos')").hide();
              - if reports_access
                %li.li-tree-nav
                  %a.tree-nav{:menu_counter=>0}
                    ="Reportes"
                    %i.material-icons.md-18="chevron_right"
                  %ul
                    %li= link_to "Generales", "/reportes"
                    %li= link_to "Inscripciones", "/inscripciones"
            
              %li.transparent
              - if can? :read, Internship
                %li= link_to "Servicios CIMAV", internships_path
              - if can? :read, Seminar
                %li= link_to "Seminarios Departamentales","/seminarios"
              

      #account
        = current_user.email
        = link_to "[salir]", "/logout"

      
    #flash-notice

    #main
      = yield
