!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    :css
      @page { margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
      P { margin-bottom: 0cm; direction: ltr; color: #000000; widows: 2; orphans: 2 }
      P.western { font-family: "Arial", sans-serif; font-size: 18pt; so-language: es-ES;}
      P.cjk { font-family: "Times New Roman", serif; font-size: 18pt }
      P.ctl { font-family: "Arial", sans-serif; font-size: 18pt; so-language: ar-SA }
      H1 { margin-top: 0cm; margin-bottom: 0cm; direction: ltr; color: #000000; widows: 2; orphans: 2 }
      H1.western { font-family: "Arial", sans-serif; font-size: 18pt; so-language: es-ES }
      H1.cjk { font-family: "Times New Roman", serif; font-size: 18pt }
      H1.ctl { font-family: "Arial", sans-serif; font-size: 18pt; so-language: ar-SA }
      DIV.content {
        height: 2000px;
        width: 1280px;
        position: relative;
        top: 140px;
        left: 190px;
      }
      LI {font-size: 18pt;}
  %body{:lang=>'es-ES',:text=>'#000000', :dir=>"LTR"}
    .principal{:style=>"background-image:url(#{@rails_root}/private/prawn_templates/membretada2018.png);background-repeat:no-repeat;background-position: top center; height: 2250px; width: 1697px;"}
      .content
        %p.western
          %br
        %p.western
          %br
        %p.western
          %br
        %p.western
          %br
        %p.western
          %br
        %p.western{:align=>'right', :style=>"font-size: 27pt; font-weight: 100;"}
          %font{:face=>'Verdana, sans-serif',:color=>'#000000'}
            %b="Coordinación de estudios de Posgrado"
            %br
            No° de Oficio  PO - #{@consecutivo}/#{@year_s}
            %br
            Chihuahua, Chih. a #{@days} de #{@month} de #{@year}.
        = yield
